[2022-05-15 03:19] 1Harshini opened #9 "[DOCS] <Missing links in pages/How.md file>"
### Description

Missing  links in [How.md file](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How.md)

### Screenshots

_No response_

[2022-05-15 03:22] Pradumnasaraf commented on #9
Hey Harshini, I didn't get your missing link problem, are you talking about the empty file with no content?

[2022-05-15 04:11] 1Harshini commented on #9
exactly, thought to add some resources in [how.md file](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How.md) directing some blogs and youtube videos

[2022-05-15 04:29] Pradumnasaraf commented on #9
Thank you for the consideration, I have added a page called resources for that purpose. The plan for this page is to write detailed instructions (text  + video+ image) on things like "How to create a PR", "How to open an Issue", etc Each in its own separate file, **what's are your thoughts on that?**

[2022-05-15 04:53] 1Harshini commented on #9
yeah This is more **sensable**
- [ ] How to raise an Issue
- [ ] Creating a branch to work on an issue
- [ ] How to create a PR

[2022-05-15 04:57] Pradumnasaraf commented on #9
Thank you Harshini, Currently, I am working and refactoring that only, It will live (the structure) within 1hr, let me know your feedback :)

[2022-05-15 05:02] 1Harshini commented on #9
yupp sure!
will go based on the structure 👍

[2022-05-15 08:29] Pradumnasaraf commented on #9
Hey @1Harshini , you check out the new structure, looking forward to your feedback

[2022-05-15 08:49] Pradumnasaraf opened #11 "[DOCS] Add process - "how to create a PR Template""
### Description

#### Hey! Contributor,

#### We are adding a guide/process for every activity  (Creating a PR, raising an issue) and making learning easy for new contributors.

### Changes/Action required

 - Add a complete process of **how to create a PR**, steps will contain a text, screenshot, Video (it can be screen recording to show the steps) and GIF (if needed)

- Path of the file in which

[2022-05-15 09:53] 1Harshini commented on #9
yes @Pradumnasaraf ,this is more perceptible and clear

[2022-05-15 10:01] Pradumnasaraf commented on #9
Thank you!!

[2022-05-15 10:11] 1Harshini commented on #9
Hey
Can I work on it  to add text, videos and blogs

[2022-05-15 10:40] Pradumnasaraf opened #12 "[DOCS] Add process/guide - "How to create an Issue""
### Description

#### Hey! Contributor,

#### We are adding a guide/process for every activity  (like Creating a PR or raising an issue) and making learning easy for new contributors.

### Changes/Action required

 - Add a complete process of "How to create an Issue", steps will contain a text, screenshot, Video (it can be a screen recording to show the steps), and GIF (if needed)

- Path of the f

[2022-05-15 10:45] Pradumnasaraf opened #13 "[DOCS] Add process/guide - "How to add sponsor button to a repo""
### Description

#### Hey! Contributor,

#### We are adding a guide/process for every activity  (like Creating a PR or raising an issue) and making learning easy for new contributors.

### Changes/Action required

 - Add a complete process of **"Adding sponser to a repo"**, steps will contain a text, screenshot, Video (it can be a screen recording to show the steps), and GIF (if needed)

- Path of

[2022-05-15 10:48] Pradumnasaraf commented on #9
For sure, I have Opened some issues with all the details (will be more soon) or if you have any other issues you can open a new one.
Again thank you for your interest

[2022-05-15 10:56] Pradumnasaraf opened #14 "[DOCS] Add process/guide - "How to assign an issue to someone""
### Description

#### Hey! Contributor,

#### We are adding a guide/process for every activity  (like Creating a PR or raising an issue) and making learning easy for new contributors.

### Changes/Action required

 - Add a complete process of **" How to assign an issue to someone"**, steps will contain a text, screenshot, Video (it can be a screen recording to show the steps), and GIF (if needed)

[2022-05-15 11:20] Pradumnasaraf opened #15 "[DOCS] Add process/guide - "How to clone a repo""
### Description

#### Hey! Contributor,

#### We are adding a guide/process for every activity  (like Creating a PR or raising an issue) and making learning easy for new contributors.

### Changes/Action required

 - Add a complete process of **"How to clone a repo"**, steps will contain a text, screenshot, Video (it can be a screen recording to show the steps), and GIF (if needed)

- Path of the

[2022-05-15 11:23] Pradumnasaraf opened #16 "[DOCS] Add process/guide - "How to create a PR""
### Description

#### Hey! Contributor,

#### We are adding a guide/process for every activity  (like Creating a PR or raising an issue) and making learning easy for new contributors.

### Changes/Action required

 - Add a complete process of **""How to create a PR""**, steps will contain a text, screenshot, Video (it can be a screen recording to show the steps), and GIF (if needed)

- Path of the

[2022-05-15 11:26] Pradumnasaraf opened #17 "[DOCS] Add process/guide - "How to link and issue no with a PR""
### Description

#### Hey! Contributor,

#### We are adding a guide/process for every activity  (like Creating a PR or raising an issue) and making learning easy for new contributors.

### Changes/Action required

 - Add a complete process of **"How to link and issue no with a PR"**, steps will contain a text, screenshot, Video (it can be a screen recording to show the steps), and GIF (if needed)

[2022-05-15 11:33] Pradumnasaraf opened #18 "[DOCS] Add process/guide - "How to create issue (templates edition)""
### Description

#### Hey! Contributor,

#### We are adding a guide/process for every activity  (like Creating a PR or raising an issue) and making learning easy for new contributors.

### Changes/Action required

 - Add a complete process of **"How to create issue templates"**, steps will contain a text, screenshot, Video (it can be a screen recording to show the steps), and GIF (if needed)

- Pa

[2022-05-16 01:39] Pradumnasaraf opened #20 "[DOCS] Add process/guide - "How to review a PR""
### Description

#### Hey! Contributor,

#### We are adding a guide/process for every activity  (like Creating a PR or raising an issue) and making learning easy for new contributors.

### Changes/Action required

 - Add a complete process of **"How to review a PR"**, steps will contain a text, screenshot, Video (it can be a screen recording to show the steps), and GIF (if needed)

- Path of the f

[2022-05-16 01:46] Pradumnasaraf opened #21 "[DOCS] Add process/guide - "How to start a github discussion""
### Description

#### Hey! Contributor,

#### We are adding a guide/process for every activity  (like Creating a PR or raising an issue) and making learning easy for new contributors.

### Changes/Action required

 - Add a complete process of **"How to start a github discussion"**, steps will contain a text, screenshot, Video (it can be a screen recording to show the steps), and GIF (if needed)

-

[2022-05-16 09:52] 1Harshini commented on #15
Hey Pradumnasaraf
can I work on this issue to add required text , screenshots and links

[2022-05-16 15:35] frazie commented on #17
I'd like to assist in this documentation.

[2022-05-16 16:02] Pradumnasaraf commented on #15
Yes, go ahead thank you!!

[2022-05-16 19:06] akebu6 commented on #12
Hey Pradumna, I would like to work on this but does this involve adding steps for all the different types of issues you can create in this repo?

[2022-05-17 01:12] Pradumnasaraf commented on #15
Thanks Akebu, Fixed it

[2022-05-17 01:15] Pradumnasaraf commented on #12
Hey Akebu, thank you for the interest.
For now, we can only plain one (the non-template one)

[2022-05-17 01:21] Pradumnasaraf opened #23 "[DOCS] Add contribution guidelines"
The contribution guide should be sectioned and specific to [pages](https://github.com/Pradumnasaraf/open-source-with-pradumna/tree/main/pages).

If the pages have a similar pattern put them in one section,

[2022-05-17 16:09] gullapalli9482 commented on #16
I would like to take up this issue.

[2022-05-17 19:25] akebu6 commented on #12
Okay, then I can do it. Is there a timeline when it should be submitted? Asking because for the next few days I have a ton of classes to catch up on

[2022-05-18 02:59] Pradumnasaraf commented on #16
Thank you for your interest. Go ahead you can work on it, I have assigned the issue to you!!

[2022-05-18 03:00] Pradumnasaraf commented on #12
You can take your time, **Akebu** :)

[2022-05-18 09:58] KendallDoesCoding commented on #23
I would like to work on this @Pradumnasaraf

[2022-05-18 09:58] KendallDoesCoding commented on #21
I would like to work on this

[2022-05-18 09:59] KendallDoesCoding commented on #20
I would like to work on this

[2022-05-18 09:59] KendallDoesCoding commented on #18
I would like to work on this

[2022-05-18 09:59] KendallDoesCoding commented on #14
I would like to work on this

[2022-05-18 09:59] KendallDoesCoding commented on #11
I would like to work on this

[2022-05-18 10:16] Pradumnasaraf commented on #23
Yes, you can work on it.

Please don't comment on every issue, you can only work on a single issue at a time.

[2022-05-18 10:37] KendallDoesCoding commented on #23
Ok thanks.

Sorry

[2022-05-18 10:37] Pradumnasaraf commented on #23
No worries I have added some details above, if you need any help feel free to ping me! 😀

[2022-05-18 10:38] KendallDoesCoding commented on #23
This seems pretty hard, can I do #21 instead?

[2022-05-18 10:39] KendallDoesCoding commented on #21
@Pradumnasaraf Do you want to include text for how to enable discussions in repos or do you only want a guide for how to start a discussion for users?

[2022-05-18 12:22] vikasganiga05 commented on #9
Hi Pradumnasaraf, my suggestion is to add a badge like the below one as a placeholder :point_down:

![Work In Progress](https://img.shields.io/badge/Markdown%20Guide-WIP-yellow)
![Work In Progress](https://img.shields.io/badge/Markdown%20Guide-WIP-yellow?style=flat-square)
![Work In Progress](https://img.shields.io/badge/Markdown%20Guide-WIP-yellow?style=for-the-badge)

[2022-05-18 15:59] Pradumnasaraf commented on #9
Hey! @1Harshini if you have any suggestions, ideas, or feedback. feel free to drop them in the discussions, for now, I am closing this issue

[2022-05-18 16:05] Pradumnasaraf commented on #23
One thing you can do you can add basic stuff like life cloning and commands we will enhance, later on, hope that works for you?

[2022-05-18 16:27] KendallDoesCoding commented on #23
sorry, I didn't understand, wdym by this?

[2022-05-18 16:27] KendallDoesCoding commented on #21
Ok thanks, Just wanted to make sure.

[2022-05-18 16:33] Pradumnasaraf commented on #23
I mean you can create the basic structure of that, we can make it more robust later on

[2022-05-18 17:03] KendallDoesCoding commented on #23
Ok gotcha, will try.

[2022-05-18 17:21] KendallDoesCoding commented on #23
@Pradumnasaraf please review #27

[2022-05-18 18:11] vikasganiga05 opened #28 "[DOCS] Add `Work In Progress` badge/banner to `How-to/guide/*.md`"
### Description

The [How-to guides](https://github.com/Pradumnasaraf/open-source-with-pradumna/tree/main/pages/How-to) are not completed right now. So, my suggestion is to add a badge/banner like the below one as a placeholder to every markdown files in `How-to/guide/` folder :point_down:

### Badges

![Work In Progress](https://img.shields.io/badge/Markdown%20Guide-WIP-yellow)
![Work In Progress

[2022-05-19 04:26] Pradumnasaraf commented on #28
Banner looks wonderful @vikasganiga05, thank you for your effort and support!

[2022-05-19 14:08] vikasganiga05 commented on #28
Okay, I think the below banner will look good on the page :point_down:

<img src="https://user-images.githubusercontent.com/74750414/169188784-680014eb-ae5a-4062-b9c0-40276f28a261.png" width="300" />

[2022-05-19 14:09] Pradumnasaraf commented on #28
Go for it 🔥

[2022-05-20 04:46] #28 closed

[2022-05-21 11:56] SuperAayush commented on #11
Hey, @Pradumnasaraf I would love to work on this 😄.

[2022-05-21 12:57] Prudence97 commented on #14
Hello,
If this is not taken. I would love to take it up.

Also can I use a pictorial guide?

[2022-05-21 12:58] Prudence97 commented on #14
😂😊I just read through the docs. You said a picture guide etc can be added.

I would love to work on this.

[2022-05-21 13:05] Pradumnasaraf commented on #14
Thank you for your interest!. Yes you can work on that. :smile:

Let me know if you have any doubt.

[2022-05-21 13:06] Prudence97 commented on #14
Okay ☺️Thank you. I'll be sending a feedback soon.

On Sat, May 21, 2022, 2:05 PM Pradumna Saraf ***@***.***>
wrote:

[2022-05-21 13:08] Pradumnasaraf commented on #11
Hey! Aayush, thank you for your interest. Yes you can work on this :rocket:

[2022-05-21 13:11] #23 closed

[2022-05-21 13:22] KendallDoesCoding commented on #21
I would love to work on this.

[2022-05-21 13:35] KendallDoesCoding commented on #15
@Pradumnasaraf This is in git right, according to me, only if you know how GitHub works you will use git, correct me if i'm wrong, so this isn't required.

[2022-05-21 13:45] Pradumnasaraf commented on #15
Yes!

[2022-05-21 13:54] KendallDoesCoding opened #34 "Issue missing for adding-pr-template.md"
### Description

There is no issue created for adding-pr-template.md although, the icon says Work in Progress

Please create the issue at the earliest @Pradumnasaraf

### Screenshots

_No response_

[2022-05-21 14:10] Pradumnasaraf commented on #11
Hey, @SuperAayush thank you for your interest.

 I just realized, by mistake, that I forgot to add the "**template"** word in the heading. This issue is for creating a PR template. The issue for the PR guide is already assigned (#16)

 Sorry for the inconvenience, you can work on this issue or some other one

[2022-05-21 14:11] Pradumnasaraf commented on #34
Thanks for the issue, fixed in (#11)

[2022-05-21 14:11] #34 closed

[2022-05-21 14:12] KendallDoesCoding commented on #34
Oops, there was a issue created, but a duplicate, instead of just 1. my bad

[2022-05-21 18:05] KendallDoesCoding commented on #20
Can I be assigned? I would like to work on this @Pradumnasaraf

[2022-05-21 18:10] Pradumnasaraf commented on #20
Hey! Kendal, you are already worked on some issues, we can leave them for the others and people new to the Open Source. Hope thing is understandable :smile:

[2022-05-21 18:11] #21 closed

[2022-05-21 18:12] KendallDoesCoding commented on #20
fair enough, but I want to contribute as well.

[2022-05-23 16:18] Pradumnasaraf opened #39 "[BUG] `div` element not rendring in the markdown hosted pages"
### Description

Markdown hosted pages don't render `<div>`. Instead of wrapping it in `<div>` to center it, we can use `<p>` tag.

### Screenshots

![Screenshot from 2022-05-23 21-42-23](https://user-images.githubusercontent.com/51878265/169863363-a4ad7125-2bbd-4148-8c38-19c3388a9fd6.png)

[2022-05-23 16:27] #39 closed

[2022-05-24 08:07] KendallDoesCoding opened #41 "[OTHER] Link How To Create PR in my repo"
### What would you like to share?

Hey Pradumnasaraf,

I have a repo, called [Free Hosting Via PR](https://github.com/Kendall-Does-Coding-Websites/free-hosting-via-pr) to make it easier for beginners and advanced coders, to get hosting on the web, for free without wasting time, finding a hosting service, etc, so they can focus on coding.

Some beginners although, may not know how to make a PR, so

[2022-05-24 11:28] #41 closed

[2022-05-24 11:29] KendallDoesCoding commented on #41
Thanks for your approval

[2022-05-26 03:19] karnatisrinivas commented on #18
Hello @Pradumnasaraf , Can I add this guide?

[2022-05-26 03:25] Pradumnasaraf commented on #18
Yes Srinivas, go ahead, Thank you for your interest!. :smile:

[2022-05-26 07:34] Pradumnasaraf commented on #11
Sure Asmit, Thank you for your interest.

Hey!, @SuperAayush, just for the confirmation you are not working on this, right?

[2022-05-26 13:07] KendallDoesCoding commented on #13
@Pradumnasaraf Can I work on this please.

[2022-05-27 02:35] SuperAayush commented on #11
Yes, I will be going for PR today itself 😄

[2022-05-27 05:46] Pradumnasaraf commented on #13
As I told you, let other beginners take the other issue, you already worked on lots of parts.

[2022-05-29 13:21] Pradumnasaraf commented on #17
Hey, @frazie just a slight nudge, waiting for your PR :)

[2022-05-29 13:22] Pradumnasaraf commented on #16
Hey, @gullapalli9482  just a slight nudge, waiting for your PR :)

[2022-05-29 13:22] Pradumnasaraf commented on #14
Hey, @Prudence97  just a slight nudge, waiting for your PR :)

[2022-05-29 13:23] Pradumnasaraf commented on #12
Hey, @akebu6  just a slight nudge, waiting for your PR :)

[2022-05-29 13:23] Pradumnasaraf commented on #11
Hey, @SuperAayush just a slight nudge, waiting for your PR :)

[2022-05-29 13:33] Prudence97 commented on #14
Hello @Pradumnasaraf  apologies for the delay. I'll get it across soon.

[2022-05-29 13:38] SuperAayush commented on #11
@Pradumnasaraf PR is ready but I am stuck with the Video, I read about the video part later when I was going to commit can you lend me some time.
I am thinking to make a youtube video and then attach that will that work?
Or do you want only the screen recording?
I am really sorry to keep you waiting 🥲.

[2022-05-29 13:47] Pradumnasaraf commented on #11
Haha, why you are saying me sorry and asking me to lend you time:), you can take your time. I was just checking up if you haven't caught up in any kind of issue.

Yes yes, Screen recording is totally and that's what is required, feel free to add it. If you have any doubts feel free to reach out.
Take your time and thank you for your time and effort !!.

[2022-05-29 13:50] Pradumnasaraf commented on #14
Take your time, I was just checking if you haven't caught up with any issues.

If you need any help, feel free to ping me!. Again thank you for your effort

[2022-05-29 13:57] akebu6 commented on #12
I was actually working on it, you should have it in a few hours.

[2022-05-29 14:10] VardaanAggarwal commented on #13
Hey @Pradumnasaraf I want to work on this issue !
Can I work on this ?

[2022-05-29 14:23] Pradumnasaraf commented on #13
Yes sure go ahead, thank you for the consideration.!!

[2022-05-29 14:26] Pradumnasaraf commented on #12
Thank you Akeku, I was just checking either if you haven't been caught in some kind of problem or not. Take your time.

[2022-05-29 14:39] akebu6 commented on #12
Should I also add a video or screenshots will be sufficient?

[2022-05-29 15:06] VardaanAggarwal commented on #13
Thanks !
I am starting to work on this .

[2022-05-29 15:08] Pradumnasaraf commented on #12
Oh sorry for the ping, didn't know that 😅.

You can leave screenshot, we will add later on.
Again sorry and thank you for your time.

[2022-05-29 15:16] akebu6 commented on #12
Oh it's all right lol, today is my day off school stuff. All right, then let me create the PR in that case since I don't have to add the screenshots

[2022-05-29 15:20] Pradumnasaraf commented on #12
Sorry, I mean you can leave the video part, it is possible for you to add 1 or 2 screenshots?

[2022-05-29 15:31] akebu6 commented on #12
I already have ones that I edited beforehand. Can I just add those?

[2022-05-29 15:35] Pradumnasaraf commented on #12
Yes yes, for sure you can add anything either screenshot to screen recording. Thank you!

Sorry for the confusion. My laptop screen is half-dead, so can't able to read the whole message from you.

[2022-05-29 16:48] akebu6 commented on #12
Created the PR, I had some issues with the images but got everything sorted out

[2022-05-29 19:04] #12 closed

[2022-05-29 19:06] Pradumnasaraf opened #45 "[FEATURE] Add a Git commands page Section"
### What would you like to share?

The section will include git command and its explanations

[2022-05-30 02:43] gullapalli9482 commented on #16
Yep, it'll be coming in soon

On Sun, May 29, 2022, 18:52 Pradumna Saraf ***@***.***> wrote:

[2022-05-30 10:34] AliFahed opened #46 "[DOCS] Typos in main README.md"
### Description

I noticed there are **two typos** in the main README.md, LEARNING RESOURCES Section.
1. First typo is in the Description:
- Typo in keyword "open **souce**" is missing 'r' in "source".
2. Second typo is in the Page (Link- clickable):
- Typo in the naming of the link, "pages/**Resourses**" should be "pages/**Resources**".

### Screenshots

![typos_in_learning_resources_section](htt

[2022-05-30 10:39] AliFahed commented on #46
Hey @Pradumnasaraf, I noticed these typos while learning from this amazing repo, this is my first ever issue. Please can you assign me for this issue, to make my first pull request :)

[2022-05-30 16:14] gullapalli9482 commented on #16
Most of the writing part is done, left with creating the video, I'm doing it for the first time, so experiencing a couple of hiccups, at max, it will be done by this weekend, nothing after that.

[2022-05-30 16:28] Pradumnasaraf commented on #46
Hey @AliFahed , thank you for opening an issue, go ahead you can work on it.

[2022-05-30 17:13] Pradumnasaraf commented on #16
No worries you can take your time, feel free to ping me, if you need any kind of help

[2022-05-30 17:15] gullapalli9482 commented on #16
Sure 👍🏼.

[2022-05-31 05:49] #46 closed

[2022-06-01 07:15] unnikrishnan2002 commented on #15
I would like to work on this.

[2022-06-01 16:26] Pradumnasaraf commented on #15
Thank you for your interest, Unni

[2022-06-01 16:31] #15 closed

[2022-06-02 04:50] Susmita-Dey opened #49 "Add some beginner-friendly repo"
### Description

I wanna add some of my beginner-friendly repositories.

1. [Contribute-To-This-Project-First](https://github.com/opensourcecommunity-hub/Contribute-To-This-Project-First)
2. [developer-portfolios](https://github.com/opensourcecommunity-hub/developer-portfolios)
3. [join-the-community](https://github.com/opensourcecommunity-hub/join-the-community)
4. [amazing-github-projects-collec

[2022-06-03 12:58] Pradumnasaraf opened #50 "[BUG]`How to?`pages not working"
### Description

Need to use `relativePath: true` to `index.html`

### Screenshots

_No response_

[2022-06-03 13:21] #50 closed

[2022-06-05 17:20] shubhimainalli opened #54 "[BUG] On click of `pages` displays 404"
### Description

if I click on this pages its showing 404 check the link

### Screenshots

![image](https://user-images.githubusercontent.com/70970530/172062436-7bd35027-94cb-460d-84f9-b3d19a6beb0b.png)

[2022-06-06 02:46] Pradumnasaraf commented on #54
Thank for opening the issue, @shubhimainalli

[2022-06-06 03:21] unnikrishnan2002 commented on #54
I believe that this issue can be solved easily if the we actually provide the whole URL instead of relative URL. Currently it is linked to the url `/pages` which only works if we are in the repo and doesn't work on the hosted website . So we can just change the link to full URL ie; `https://github.com/Pradumnasaraf/open-source-with-pradumna/tree/main/pages` then it will be redirected to this repo`

[2022-06-06 03:23] unnikrishnan2002 commented on #54
If this makes sense to you , I can just make the fix.

[2022-06-06 15:19] Pradumnasaraf commented on #54
Hey!, Unni I think we don't need anymore to hyperlink the `pages` because it was used in the old version of this repo.

Best thing is that we can simply highlight it with backticks and remove the hyperlink.

[2022-06-06 15:24] Pradumnasaraf commented on #11
Hey! @SuperAayush, want to confirm, that are you still working on this issue :) ?

[2022-06-06 15:27] KendallDoesCoding commented on #49
Can I add these repos in to the .md file @Pradumnasaraf

[2022-06-06 18:16] SuperAayush commented on #11
@Pradumnasaraf I have created a Video without Audio 🤔, since you only wanted the screen recording

[2022-06-07 02:06] Pradumnasaraf commented on #49
Hey, @Susmita-Dey thank you for opening the issue. In the above-listed projects, I can see there are some similar projects which are already there, and some require more beginner-friendly docs. I will have another look this weekend, Thank you

[2022-06-07 02:36] unnikrishnan2002 commented on #54
Okay sure. Can I proceed with that and make the change you suggested?

[2022-06-08 16:30] #54 closed

[2022-06-09 16:57] Kanika637 commented on #18
Hey @karnatisrinivas , are you still working on this?

[2022-06-11 14:13] Kanika637 commented on #18
Hey @Pradumnasaraf , can I work on this?

[2022-06-11 14:31] Pradumnasaraf commented on #18
Hey, Kanika thank you so much for your interest. Yes, sure you can work on this.

If you have doubts feel free to reach, feel free to ping me :)

[2022-06-11 15:24] Jai-Solania-29 commented on #20
Hey @Pradumnasaraf I would love to work on this issue 😃.

[2022-06-11 16:11] Jai-Solania-29 opened #59 "Add Favicon to the Website"
### Description

Right now Website doesn't have any Favicon.

### Screenshots

![Screenshot (95)](https://user-images.githubusercontent.com/90816300/173195173-4efe6358-0df5-4af0-ac5c-d16d7658cc5d.png)

[2022-06-12 03:32] KendallDoesCoding commented on #59
I don't think adding a favicon is possible as this is hosted via GitHub Pages and the website runs on .md, but I'm unsure.

Please let me know @Pradumnasaraf

[2022-06-12 03:42] gullapalli9482 commented on #16
I think this issue can be closed now

[2022-06-12 06:33] Pradumnasaraf commented on #59
Hey! @Jai-Solania-29, thank you for opening the Issue, can you explain a little bit more about which icons and things you are suggesting to add, by providing a screenshot?

[2022-06-12 06:34] Pradumnasaraf commented on #20
Thank you for your interest, go ahead you can work on it

[2022-06-12 06:37] Pradumnasaraf commented on #16
Thank you for pointing it you, it should auto close. Anyways closing it with https://github.com/Pradumnasaraf/open-source-with-pradumna/pull/56

[2022-06-12 06:37] #16 closed

[2022-06-12 07:01] KendallDoesCoding commented on #59
We can add a "OSWP" or "OS" as the favicon which stands as "Open Source with @Pradumnasaraf" and "Open Source".

[2022-06-12 08:12] Kanika637 commented on #18
Hey @Pradumnasaraf , could you please assign me this issue so that I can make the PR, as I have completed the work.

[2022-06-12 11:40] Jai-Solania-29 commented on #20
Ok thank you Pradumna 😃

[2022-06-12 11:54] Jai-Solania-29 commented on #59
Hey Prdumna !
I want to add a Favicon to this Website and for that either we can use this given logo from your website ....

![Screenshot (96)](https://user-images.githubusercontent.com/90816300/173231688-94481a7b-a072-4d90-9cff-54ca2380cc70.png)

Or I can try to design a different logo that suits your Website, and then we can use it as a Favicon for the website.

[2022-06-12 12:58] Pradumnasaraf commented on #18
oh, so sorry I missed out on that. Assigned it to you

**Side note** - You can create PR even if the issue is not assigned but you already commented and got the permission to work on it :)

[2022-06-12 12:59] Pradumnasaraf commented on #59
Okay, thank you for the info, We can use the use Open Source one (to which arrow is pointing) :)

[2022-06-12 13:11] Kanika637 commented on #18
Thanks @Pradumnasaraf , I have made the PR.

[2022-06-12 16:44] Jai-Solania-29 commented on #59
Ok sure I'll add this.

[2022-06-15 18:45] Pradumnasaraf opened #65 "[DOCS]Add process/guide - "How to create issue templates""
### Description

#### Hey! Contributor,

#### We are adding a guide/process for every activity  (like Creating a PR or raising an issue) and making learning easy for new contributors.

### Changes/Action required

 - Add a complete process of **"How to create issue templates"**, steps will contain a text, screenshot, screen recording, and GIF (if needed)

- Path of the file in which **steps** need

[2022-06-15 18:49] #18 closed

[2022-06-15 18:52] Pradumnasaraf opened #66 "[DOCS] Add process/guide - "How to star a repo""
### Description

#### Hey! Contributor,

#### We are adding a guide/process for every activity  (like Creating a PR or raising an issue) and making learning easy for new contributors.

### Changes/Action required

 - Add a complete process of **"How to star a repo"**, steps will contain a text, screenshot, screen recording, and GIF (if needed)

- Path of the file in which **steps** need to be adde

[2022-06-15 18:55] Pradumnasaraf opened #67 "[DOCS] Add process/guide - "How to fork a repo""
### Description

#### Hey! Contributor,

#### We are adding a guide/process for every activity  (like Creating a PR or raising an issue) and making learning easy for new contributors.

### Changes/Action required

 - Add a complete process of **"How to fork a repo"**, steps will contain a text, screenshot, screen recording, and GIF (if needed)

- Path of the file in which **steps** need to be adde

[2022-06-16 11:53] code-hyker commented on #66
@Pradumnasaraf may I work on this issue?

[2022-06-17 05:19] Sreekar-Shodhan commented on #67
Hey pradumnasaraf can you please  assign this issue to me , I will contribute on Sunday or Saturday night as I have exam tomorrow.
Thank you

[2022-06-17 08:38] Pradumnasaraf commented on #67
Thank you Sreekar for your interest, sure you can work on this.
No worries take your time Take your time :). If you have any issue, feel free to ping me

[2022-06-17 08:40] Pradumnasaraf commented on #66
Hey! thank you for showing interest.

Small request, don't start working on any issue before you got any comments from the maintainers or it gets assigned to you.

[2022-06-17 10:44] code-hyker commented on #66
Sure! Will take care of it from next time.

[2022-06-17 16:57] Sreekar-Shodhan commented on #67
Yeah, thank you pradumna, really excited to make my first PR.

[2022-06-17 17:01] Pradumnasaraf commented on #67
WOW, great this is your PR. I am more than excited than you :)
Good Luck!!

[2022-06-18 09:30] #66 closed

[2022-06-18 09:37] Pradumnasaraf commented on #17
Hey, @frazie can you please clarify whether you are working on this?
Thank you!

[2022-06-18 09:38] Pradumnasaraf commented on #13
Hey @VardaanAggarwal waiting for your PR :)

[2022-06-18 09:40] Pradumnasaraf commented on #14
Hey, @Prudence97 can you please clarify whether you are working on this issue or not?
Thank you!!

[2022-06-18 09:41] Prudence97 commented on #14
I already sent a pull request. I think I merged it after waiting for a week or so.

Please check and confirm

[2022-06-18 16:09] code-hyker commented on #65
@Pradumnasaraf may I work on it?

[2022-06-18 18:27] Pradumnasaraf commented on #14
Hey! there is no Pull Request from your side, you can check the page here [assigning-issue.md](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide/assigning-issue.md)

[2022-06-18 18:32] Prudence97 commented on #14
I just saw it🤦 apparently, I didn't merge it right.

[2022-06-18 18:33] Prudence97 commented on #14
I've sent a pull request

[2022-06-18 18:34] Pradumnasaraf commented on #14
No there is no PR, check you might have created it on your repo itself.

[2022-06-18 18:39] Prudence97 commented on #14
Have you seen it?

On Sat, Jun 18, 2022, 7:34 PM Pradumna Saraf ***@***.***>
wrote:

[2022-06-20 15:01] code-hyker commented on #65
@Pradumnasaraf are "raising an issue template" and "adding an issue template" different issues ? I am asking this because there is already an issue in which creating of an issue template has been shown with steps.Verify it once

[2022-06-20 15:10] code-hyker commented on #65
https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide/raise-issue-template.md

[2022-06-21 06:54] Sreekar-Shodhan commented on #67
Hey @Pradumnasaraf , I am done with the writing part but I am confused to add the screenshot part. Like If i take a screenshot and edit, save in my local computer and if I set it like ![alt text](home/open-source/ss/image)  will it be displayed the same after merging? Like How should I add the screenshot part?

[2022-06-21 06:54] Sreekar-Shodhan commented on #67
![image](https://user-images.githubusercontent.com/71596539/174735561-70b2c42b-a36b-4c68-899f-32638fc5e631.png)

Is this correct?

[2022-06-21 10:27] Pradumnasaraf commented on #65
Hey! both are different.
This issue you are working on is about how to `create issue templates` and you mentioned is about how to `raise/create an issue through issue templates`.

For this issue, we will create the Markdown one [`docs`](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/manually-creating-a-single-issue-template-for-your-repository)

[2022-06-21 10:33] code-hyker commented on #65
Got it!

[2022-06-21 15:44] VardaanAggarwal commented on #13
Hey @Pradumnasaraf , I am so sorry for the delay on my end due to some issues.
I will not be delayed more, I am 60% through the process of working on the issue !
Will create a PR very soon !
(Expected date of PR - 25th of June)

[2022-06-21 18:28] Pradumnasaraf commented on #17
Thank you for the interest, sure go ahead!!

[2022-06-22 01:47] frazie commented on #17
Kindly assign the task to @heykush

sorry @Pradumnasaraf for the late dedication to the project, my work and study got ahead of me beyond my expectation. Hope I'll get t work with you more soon!!

[2022-06-22 07:53] Pradumnasaraf commented on #17
No worries @frazie, take your time, repo is always welcome for your contributions :)

[2022-06-22 07:59] Pradumnasaraf commented on #67
Hey @Sreekar-Shodhan, its local path will not work, instead, you can generate `githubusercontent` link on Github and use that in docs.

you can generate link this:

https://user-images.githubusercontent.com/51878265/174975933-70964ac7-e6f8-4465-bb4a-8af961ab067a.mp4

[2022-06-22 08:00] Pradumnasaraf commented on #13
No worries, Thank you!!

[2022-06-22 17:54] heykush commented on #17
Hi **@Pradumnasaraf** can we **connect** somewhere? I have a few queries.

[2022-06-23 07:14] Pradumnasaraf commented on #17
Hey!
Yes, you can open up a discussion on GitHub [here](https://github.com/Pradumnasaraf/open-source-with-pradumna/discussions) with your questions.

[2022-06-23 10:05] Sreekar-Shodhan commented on #67
Thanks pradumna, will try this and check soon.

[2022-06-25 16:49] #11 closed

[2022-06-25 17:53] #17 closed

[2022-06-30 18:03] #59 closed

[2022-07-06 16:04] Sreekar-Shodhan commented on #67
Hey @Pradumnasaraf I have completed the writing part of fork-repo part but Iam confused on how to push it.
Like I created the new branch in open-source-with-pradumnasaraf file. or should I create that branch in How-to file?

[2022-07-06 16:05] Sreekar-Shodhan commented on #67
Sorry for being late, but my exams were completed yesterday.

[2022-07-10 10:59] Pradumnasaraf commented on #65
Hey waiting for your PR, if you have any doubts feel free to ping!

[2022-07-10 11:00] Pradumnasaraf commented on #20
Hey waiting for your PR. If you have any doubts feel free to ping me!

[2022-07-10 11:01] Pradumnasaraf commented on #13
Hey waiting for your. If you have any doubts feel free to ping me!

[2022-07-10 14:41] code-hyker commented on #65
Sorry for the delay  due to exams! I will send the PR within a day or two.

[2022-07-11 08:08] Sreekar-Shodhan commented on #67
Hey pradumna is everything alright with the PR? Please let me know if there any changes required in it.

[2022-07-11 08:09] Sreekar-Shodhan commented on #45
So this is about each and every git command and their simple explanation or most used git commands and their explanation?
I would like to add few git commands if its okay.

[2022-07-11 08:15] Jai-Solania-29 commented on #20
Hey @Pradumnasaraf I'll push my changes tonight or may be by tomorrow. Actually I was busy in my exams.

[2022-07-11 17:33] #67 closed

[2022-07-12 09:53] Sreekar-Shodhan opened #75 "[DOCS] Gramatical mistake in `How-to`"
### Description

In the Pages/How-to guide there are images like Create a PR etc

Mistake in last two images, its Fork a repo instead of "an repo" and star a repo instead of "an repo"

Its a small thing but I found it as error so raising this issue.

### Screenshots

![image](https://user-images.githubusercontent.com/71596539/178463465-67ee9a29-93b9-4d0d-993c-648389c417d8.png)

[2022-07-12 13:45] Jai-Solania-29 commented on #20
Hey @Pradumnasaraf I have made the PR.

[2022-07-13 03:30] Pradumnasaraf commented on #45
Hey @Sreekar-Shodhan It's still in the planning stages, still not sure
Thank you for the interest.

[2022-07-13 03:35] Pradumnasaraf commented on #75
Hey, thank you for pointing it out we will soon fix that.

[2022-07-15 06:59] AbbeyIT opened #77 "[DOCS] <Spelling mistake>"
### Description

In the pages/Beginners, the spelling of the word beginner in the title "Beginnner friendly projects" is misspelled.
Also, I'm suggesting to put a hyphen between Beginner and friendly (Beginner-friendly). I think it's a compound word.

I don't know if I will be completely right or not. But I will still raise an issue. 

### Screenshots

![image](https://user-images.githubuserconten

[2022-07-15 07:01] yung-coder commented on #77
@AbbeyIT i would like to take on this issue..

[2022-07-15 08:50] yung-coder commented on #77
@AbbeyIT i mean can i correct the spelling ..?

[2022-07-15 11:11] AbbeyIT commented on #77
@yung-coder Sure!

[2022-07-15 12:24] yung-coder commented on #77
@AbbeyIT can u assign me for this issue..?

[2022-07-15 17:09] Pradumnasaraf commented on #77
Thank you, @AbbeyIT for opening the issue and repotting. I am assigning the Issue to @yung-coder hope it's okay from your side. If not do let me know!

[2022-07-16 03:54] AbbeyIT commented on #77
Oh, so that's what he meant by giving him the issue. This is my first time raising an issue. It's such a pity I'm not the one who fixes it, but it's all good on my side. 

@Pradumnasaraf Thank you!

[2022-07-16 08:46] Pradumnasaraf commented on #77
Hey Abbey, Don't feel pity. @yung-coder has not started working on that I just checked on their fork. You go for it :)

Hey, Saksham there are some more typos in the docs, can you please find and fix those?

[2022-07-16 08:47] yung-coder commented on #77
@Pradumnasaraf yeah definitely i will go through it ...

[2022-07-19 16:03] #20 closed

[2022-07-29 10:36] singh-saksham commented on #14
Hey is the issue still open? Although I just started GitHub I would love to contribute to the best of my abilities.

[2022-07-29 10:40] Prudence97 commented on #14
Hi, It's still open. I was suppose to report to Pradumna earlier. I've been a bit busy and also trying to make out time to fix the corrections.

It'll be nice if you can help @singh-saksham also, if you need my assistance I'll be ready to help.
I think Pradumna would also address you when he's online.

[2022-07-29 10:56] singh-saksham commented on #14
@Prudence97 Thank you for your response. I don't know how to help you exactly. You can say that it's my first day properly using GitHub. I will be really thankful if you can provide essential tips or methods to contribute to this issue.

[2022-07-29 11:01] singh-saksham commented on #14
@Pradumnasaraf I am trying to open the Twitter thread but it's redirecting me to a Github page only.

[2022-07-29 11:11] Prudence97 commented on #14
https://twitter.com/pradumna_saraf/status/1527840632018030597?t=U0wctEIvzeFkXH9NoUJiGw&s=19

👆🏽That's @Pradumnasaraf twitter page. Maybe you can find what you're looking for there

[2022-07-29 11:14] singh-saksham commented on #14
@Prudence97 Thanks for the help

[2022-07-29 12:41] Pradumnasaraf commented on #75
Hey @kelvinparmar sorry for the late reply. Busy with my exams

Yes, go ahead. You can download both the corrected image here - https://www.canva.com/design/DAFAvDyVN04/h_Y6xD8kcXu1IBiwWV2r6Q/edit

[2022-07-29 12:44] Pradumnasaraf commented on #13
Hey, @VardaanAggarwal I am unassigning you from the issue.

[2022-07-29 12:49] Pradumnasaraf commented on #14
Hey @Prudence97  PR is already opened from your side can you do the changes suggested https://github.com/Pradumnasaraf/open-source-with-pradumna/pull/71

[2022-07-29 12:51] Pradumnasaraf commented on #65
Hey, this is the last call @code-hyker are you working on this issue?

[2022-07-29 12:53] Pradumnasaraf commented on #14
Hey @singh-saksham the PR is already opened for this issue. Can you please work on some other issues opened.

[2022-07-29 13:00] Prudence97 commented on #14
Hii @Pradumnasaraf  long time. I'm sorry I didn't respond to the previous messages. I've been trying to manage a product I built and I've been pretty busy. Hope you're great?

[2022-07-29 13:02] Prudence97 commented on #14
Also @Pradumnasaraf I think if I can have two more weeks I can look into it and make changes within that time period.

I was also thinking @singh-saksham could look Into it if you wanted it to be cleared urgently

[2022-07-29 13:09] code-hyker commented on #65
Pardon me ! Kindly assign this issue to someone else.

[2022-07-29 15:02] kelvinparmar commented on #75
How can I download it? I am not able to download it

[2022-07-29 15:05] kelvinparmar commented on #75
It's just playing slide show

[2022-07-29 16:29] singh-saksham commented on #14
@Pradumnasaraf OK I will look into it. 👍

[2022-07-30 16:02] singh-saksham commented on #75
@kelvinparmar Hey if you are still having trouble maybe I can help you. Please do contact me

[2022-07-30 16:04] kelvinparmar commented on #75
How to download images?

[2022-07-30 16:10] singh-saksham commented on #75
@kelvinparmar right click on the image and click Save as.

[2022-07-30 16:11] kelvinparmar commented on #75
In that option not giving jpg format

[2022-07-30 16:44] singh-saksham commented on #75
Try to screenshot it.

[2022-07-30 16:45] kelvinparmar commented on #75
yeah I have done by that issue

[2022-07-30 16:46] kelvinparmar commented on #75
Thanks for your reply

[2022-07-31 16:11] Pradumnasaraf commented on #75
Hey @kelvinparmar
Here are links for both. you can use the,
https://user-images.githubusercontent.com/51878265/182035398-d951c098-92cd-40a5-b435-fc91019bb289.png
https://user-images.githubusercontent.com/51878265/182035400-bab2b6a3-311b-41f2-9315-9841aceb1c2f.png

[2022-08-01 14:27] aryanraj2713 commented on #13
Hey Is the issue still open?
Can I contribute?

[2022-08-01 16:41] singh-saksham commented on #13
@aryanraj2713 I have already made a pull request for this issue

[2022-08-01 16:45] singh-saksham commented on #13
@aryanraj2713 why dont you try #14

[2022-08-01 17:56] aryanraj2713 commented on #14
I can contribute😊

[2022-08-02 07:43] aryanraj2713 commented on #13
@singh-saksham  sure , I have checked #14
Pls assign it to me

[2022-08-03 17:43] Pradumnasaraf commented on #14
Hey, thank you for your interest the PR is already open for this issue. I will be people some more issues in 1 or days. Keep an eye on that :)

[2022-08-04 13:26] #14 closed

[2022-08-04 13:29] Pradumnasaraf commented on #75
Closed in https://github.com/Pradumnasaraf/open-source-with-pradumna/commit/260723a5030b5fdf80ecfba46a349430c7ac8b3c

[2022-08-04 13:29] #75 closed

[2022-08-08 05:58] #13 closed

[2022-08-09 09:11] yash251 commented on #65
I would like to work on this @Pradumnasaraf

[2022-08-09 16:26] Pradumnasaraf commented on #65
Go for it. Thank you!

[2022-08-19 04:42] kartikgajjar7 commented on #65
Hey @Pradumnasaraf  anyone working on this issue?if no ..I would like to work on this :)

[2022-08-19 14:06] IMPranshu commented on #45
Some useful commands can be :
`git commit --amend`
`git branch --show-current`
`git push -f`

These commands really helped me a lot while making clean PRs. Maybe some details regarding them should be provided to efficiently use these commands.

[2022-08-19 17:47] Pradumnasaraf commented on #65
Hey! @yash251 Are you still working on this issue?

[2022-08-19 18:37] yash251 commented on #65
Yes! I'll send pr In a day or two

[2022-08-19 19:06] kartikgajjar7 commented on #65
great 👍

[2022-08-31 16:17] anieshak opened #84 "[DOCS] Typo & repeated words in the documentation"
### Description

Hello Pradumna,
As you know, I am new to Open Source & learning how to contribute. I came across your instructions  on how to raise a bug but the below documentation contains typo which I have highlighted in brackets & below I have also shared the best way to communicate your intended message.

--> When you click on (New Issue , you will get a list of 4 types of issues.)
-> If you

[2022-08-31 16:22] anieshak commented on #84
@Pradumnasaraf  for visibility...

[2022-09-01 03:24] Pradumnasaraf commented on #84
Thank you for opening the issue!

[2022-09-01 14:39] ArpanBalpande commented on #84
Raised the PR: https://github.com/Pradumnasaraf/open-source-with-pradumna/pull/86
Please review. Thanks.

[2022-09-03 16:51] #84 closed

[2022-09-03 20:16] ShubhamJagtap2000 opened #88 "[DOCS] fix the wrong Twitter post link in regular.md"
### Description

There is an issue in Pages/Regular.md file in the first 2 links or the Twitter links mentioning and redirecting to different post. I think both of them were replaced wrongly. Please have a look. I also have made appropriate changes.

### Screenshots

_No response_

[2022-09-03 20:22] ShubhamJagtap2000 commented on #88
I have also raised a PR. You can look into the changes.

[2022-09-04 03:38] #88 closed

[2022-09-04 07:08] Pradumnasaraf commented on #65
Hey, @yash251 I have unassigned you the issue due, @kartikgajjar7 would you like to work on this?

[2022-09-04 07:08] Pradumnasaraf commented on #45
Thank you @IMPranshu

[2022-09-04 16:41] Pradumnasaraf opened #92 "[DOCS] Add process/guide - "How to create delete a repo""
### Description

Hey! Contributor,

This issue is for adding the guide/process for **How we can delete a repo**. The step needs to be well defined and include the Screenshot/Screen recording for better explanation. To get an overview of how the docs should look, check the available docs [`here`](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide)

- Path to the

[2022-09-04 16:56] Pradumnasaraf opened #93 "[DOCS] Add process/guide - "How to add a social preview to a repo""
### Description

Hey! Contributor,

This issue is for adding a guide/process for **How to add a social preview to a repo**. The step needs to be well defined and include the Screenshot/Screen recording for better explanation. To get an overview of how the docs should look, check the available docs [`here`](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide)

-

[2022-09-04 17:00] Pradumnasaraf opened #94 "[DOCS] Add process/guide - "How to use GitHub Pages""
### Description

Hey! Contributor,

This issue is for adding the guide/process for **How to use GitHub Pages**. The step needs to be well defined and include the Screenshot/Screen recording for better explanation. To get an overview of how the docs should look, check the available docs [`here`](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide)

- Path to the

[2022-09-04 17:04] Pradumnasaraf opened #95 "[DOCS] Add process/guide - "How to create GitHub secrets""
### Description

Hey! Contributor,

This issue is for adding a guide/process for **How to create GitHub secrets**. The step needs to be well defined and include the Screenshot/Screen recording for better explanation. To get an overview of how the docs should look, check the available docs [`here`](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide)

- Path to t

[2022-09-04 17:07] Pradumnasaraf opened #96 "[DOCS] Add process/guide - "How to create a licence""
### Description

Hey! Contributor,

This issue is for adding the guide/process for **How to create a licence**. The step needs to be well defined and include the Screenshot/Screen recording for better explanation. To get an overview of how the docs should look, check the available docs [`here`](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide)

- Path to the

[2022-09-04 17:18] Pradumnasaraf opened #97 "[DOCS] Add process/guide - "How to create a Tags""
### Description

Hey! Contributor,

This issue is for adding the guide/process for **How to create a Tags**. The step needs to be well defined and include the Screenshot/Screen recording for better explanation. To get an overview of how the docs should look, check the available docs [`here`](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide)

- Path to the ded

[2022-09-04 17:24] Pradumnasaraf opened #98 "[DOCS] Add process/guide - "How to create a Releases""
### Description

Hey! Contributor,

This issue is for adding the guide/process for **How to create a Releases - manually**. The step needs to be well defined and include the Screenshot/Screen recording for better explanation. To get an overview of how the docs should look, check the available docs [`here`](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide)

-

[2022-09-04 17:28] Pradumnasaraf opened #99 "[DOCS] Add process/guide - "How to create to create GitHub project board""
### Description

Hey! Contributor,

This issue is for adding the guide/process for **How to create to create GitHub project board**. The step needs to be well defined and include the Screenshot/Screen recording for better explanation. To get an overview of how the docs should look, check the available docs [`here`](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/g

[2022-09-04 17:38] Pradumnasaraf opened #100 "[DOCS] Add process/guide - "How to archive a repo""
### Description

Hey! Contributor,

This issue is for adding the guide/process for **How to archive a repo**. The step needs to be well defined and include the Screenshot/Screen recording for better explanation. To get an overview of how the docs should look, check the available docs [`here`](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide)

- Path to the de

[2022-09-04 17:42] Pradumnasaraf opened #101 "[DOCS] Add process/guide - "How to make a repo private/public""
### Description

Hey! Contributor,

This issue is for adding the guide/process for **How to make a repo private/public**. The step needs to be well defined and include the Screenshot/Screen recording for better explanation. To get an overview of how the docs should look, check the available docs [`here`](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide)

- Pa

[2022-09-04 18:05] Lokeshkhati commented on #100
Hey, @Pradumnasaraf  can you please assign this issue to me, I would love to contribute.

Thank you

[2022-09-05 02:17] AbbeyIT commented on #93
Hello @Pradumnasaraf can I work on this issue?

[2022-09-05 03:38] YashPimple commented on #92
@Pradumnasaraf I would like to work on this could you assign it to me?

[2022-09-05 14:15] nitin-nagaraj-au26 commented on #101
@Pradumnasaraf I'm interested in working on this.

[2022-09-05 16:36] Indira-kumar commented on #96
Hey @Pradumnasaraf  I would like to work on this issue

[2022-09-05 16:50] hasnainmakada-99 commented on #101
Hey @Pradumnasaraf I would like to work on this issue, But it seems that the link which you provided is broken

[2022-09-05 17:15] itzwow commented on #101
Hello @Pradumnasaraf  I would like to work on this issue.

[2022-09-05 17:17] itzwow commented on #94
Hi @Pradumnasaraf  I would like to work on this issue.

[2022-09-05 17:32] trenz999 commented on #92
I'm new to open-source but will get articles on how to delete repos.

[2022-09-05 17:40] trenz999 opened #102 "Deleting a repository"
### Description

1. On GitHub.com, navigate to the main page of the repository.
2. Under your repository name, click  Settings.
3. Under Danger Zone, click Delete this repository.
4. Read the warnings.
5. To verify that you're deleting the correct repository, type the name of the repository you want to delete.
6. Click I understand the consequences, delete this repository.
For more [info.](https:/

[2022-09-05 17:40] #102 closed

[2022-09-05 17:40] Pradumnasaraf commented on #92
Hey, @YashPimple thank you for your interest. Go ahead will the issue.

[2022-09-05 17:41] Pradumnasaraf commented on #92
Hey, you can have a look at other issues as someone is already interested prior to you, thank you!

[2022-09-05 17:47] Pradumnasaraf commented on #101
Hey @nitin-nagaraj-au26, thank you for your interest. Go ahead will the issue.

[2022-09-05 17:48] Pradumnasaraf commented on #101
Hey, @hasnainmakada-99 @itzwow, look for other issues, as someone other has already shown the interest.

[2022-09-05 17:49] Pradumnasaraf commented on #96
Hey, @Indira-kumar, thank you for your interest. Go ahead will the issue.

[2022-09-05 17:50] Pradumnasaraf commented on #93
Hey, @AbbeyIT, thank you for your interest. Go ahead will the issue.

[2022-09-05 17:51] Pradumnasaraf commented on #100
Hey, @Lokeshkhati, thank you for your interest. Go ahead will the issue.

[2022-09-05 17:52] hasnainmakada-99 commented on #101
Ok @Pradumnasaraf no problem

[2022-09-06 12:23] Indira-kumar commented on #96
Thank you so much for the opportunity 🤍

[2022-09-06 21:42] trenz999 commented on #100
@Pradumnasaraf Please the doc on how to achieve repo is not clear, can it be updated

[2022-09-07 09:27] ShubhamJagtap2000 opened #105 "[PR] <Suggesstion to add some topics>"
### Description

Just checked your recent commits to the repo. The job that you are doing really helped me the last few days to make myself more sound about how and what actually happens while fork, raising a PR, etc. As I see you have covered many basic, core topics. What I felt was difficult while learning is the concept of **<ins>git stash, squashing the repo, and concepts like upstream, git re

[2022-09-07 11:50] itzwow commented on #101
Alright @Pradumnasaraf

[2022-09-07 18:59] YashPimple commented on #92
@Pradumnasaraf do i need to create a specific branch ? and can you delete the [open-source-with-pradumna/pages/How-to/guide/delete-repo.md](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide/delete-repo.md) from the main branch so that I can add my file?

[2022-09-08 02:13] Pradumnasaraf commented on #92
Didn't get your point. Jus make changes in your form it can be on the main as well as branch (Branch is more preferred) and raise a PR

[2022-09-08 02:15] Pradumnasaraf commented on #105
Thank you for the appreciation and opening issue. Can you add those suggestions to the Discussion here? https://github.com/Pradumnasaraf/open-source-with-pradumna/discussions/31

[2022-09-08 04:41] ShubhamJagtap2000 commented on #105
Sure

[2022-09-09 05:08] #105 closed

[2022-09-11 16:59] hasnainmakada-99 commented on #98
Hey @Pradumnasaraf I would like to work on this issue

[2022-09-12 17:02] Pradumnasaraf commented on #98
Yes, go ahead @hasnainmakada-99. Thank you!

[2022-09-12 18:03] #93 closed

[2022-09-12 19:54] developer-diganta opened #107 "[BUG] Add alt attribute to images"
### Description

I think adding alt attribute would make the web page more accessible. If this seems something to work upon, can I do it?

### Screenshots

_No response_

[2022-09-13 08:58] hasnainmakada-99 commented on #98
Hey @Pradumnasaraf will it be okay If I take references from official GitHub Docs?

[2022-09-13 21:11] KlausMikhaelson commented on #97
Hey @Pradumnasaraf I'm a developer and I would love to contribute in it but can you please elaborate a little on what do you mean by tag ?

[2022-09-13 21:14] KlausMikhaelson commented on #94
Hey @Pradumnasaraf incase this issue is not resolved than would love to work on it since I used to make a lot of static pages back when I was a beginner and had faced some issues too so would love to document it so that others won't.

[2022-09-14 16:41] Pradumnasaraf commented on #107
Thank you for raising an issue. Yes, go ahead. You can work on this.

[2022-09-14 16:55] Pradumnasaraf commented on #94
Yes, go ahead. thank you!

[2022-09-14 16:58] Pradumnasaraf commented on #97
Hey,

By the tag I mean git tags on GitHub.
![Screenshot from 2022-09-14 22-27-46](https://user-images.githubusercontent.com/51878265/190216584-3356d8ba-acc5-4e07-847a-a3138219ab23.png)

[2022-09-14 17:56] KlausMikhaelson commented on #94
Ooo got it thanks !

[2022-09-14 18:07] KlausMikhaelson commented on #97
Got it would like to work on it !

[2022-09-14 18:32] #100 closed

[2022-09-16 06:20] ShubhamJagtap2000 opened #110 "[DOCS] Improvement for more ease in project"
### Description

Hello, @Pradumnasaraf I just found some documentation as well as bug improvement in the [cloning repo](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide/cloning-repo.md) file. I think a direction about copy-paste in Git Bash needs to be added with an image. It will be good for a beginner not to be stuck for a moment(as I did not knew when I us

[2022-09-16 12:18] RohitRajvaidya5 commented on #107
is this issue resolved? can I work on it?

[2022-09-16 17:45] Pradumnasaraf commented on #110
Thank you for raising the issue. Yes go ahead

[2022-09-17 05:40] ShubhamJagtap2000 commented on #110
Just done with it, you can review [here](https://github.com/Pradumnasaraf/open-source-with-pradumna/pull/113).

[2022-09-17 07:28] Pradumnasaraf commented on #107
Hey, @developer-diganta in which section of the repo you are adding `alt text? can you do it only for the [root README](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/README.md), so that I can open issue for the part of the repo and give more space for other contributors.

[2022-09-17 16:19] developer-diganta commented on #107
@Pradumnasaraf I saw that the root README has the alt texts. I guess I can one section (Bootcamp) ones, then the other ones can be picked up by other people. What do you say?

[2022-09-17 16:22] Pradumnasaraf commented on #107
Sounds great, will be waiting for your PR.
Thank you!

[2022-09-17 20:43] developer-diganta commented on #107
@Pradumnasaraf Done!

[2022-09-18 10:39] kelvinparmar commented on #101
@Pradumnasaraf  Anyone is working on this issue?

[2022-09-18 10:46] kelvinparmar commented on #99
@Pradumnasaraf  please explain me what I have to do in this issue ?
1)Do I have to write the steps on how to create a repo for a project in GitHub?  OR
2)How to create a project for organization in GitHub or how to create a project for yourself?

what to do between the two?

[2022-09-18 10:47] kelvinparmar commented on #99
[https://docs.github.com/en/issues/organizing-your-work-with-project-boards/managing-project-boards/creating-a-project-board](url)

[2022-09-18 10:52] #92 closed

[2022-09-18 11:36] Pradumnasaraf opened #115 "[BUG] Add alt attribute to the images in `How to` page"
### Description

Link to the page  - https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/README.md

### Screenshots

_Not required_

[2022-09-18 11:36] Pradumnasaraf opened #116 "[BUG] Add alt attribute to the images in the root README"
### Description

Link to the page - https://github.com/Pradumnasaraf/open-source-with-pradumna

### Screenshots

_Not required_

[2022-09-18 11:38] Pradumnasaraf opened #117 "[BUG] Add alt attribute to the images in `Learning resources` page"
### Description

Link to the page - https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/Resources.md

### Screenshots

_Not required_

[2022-09-18 11:42] Pradumnasaraf opened #118 "[BUG] Add alt attribute to the images `regular content` page"
### Description

Link to the page - https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/Regular.md

### Screenshots

N/A

[2022-09-18 12:04] xcelr8 commented on #118
Hi, can I work on this issue?

[2022-09-18 12:24] yung-coder commented on #117
I would like to do this...

[2022-09-19 15:20] lazyturd commented on #115
Hey, can I be assigned to this?

[2022-09-19 16:35] Pradumnasaraf commented on #115
Thank you for your interest, go ahead

[2022-09-20 07:26] MahendraBishnoi29 commented on #116
@Pradumnasaraf there's only 1 image and the alt is already there 🤔

[2022-09-20 07:28] MahendraBishnoi29 commented on #115
@Pradumnasaraf couldn't find any img tags there?

[2022-09-20 14:47] Athithya-t commented on #116
Hi @Pradumnasaraf
Can I work on this issue?

[2022-09-20 16:21] Pradumnasaraf commented on #115
Thnak you for pointing it out. Yes it's not there

[2022-09-20 16:23] Pradumnasaraf commented on #116
Yes, go ahead. Thnak you for your intrest.

[2022-09-24 05:42] hasnainmakada-99 commented on #115
Is this issue resolved @Pradumnasaraf , If not can I work on it ?

[2022-09-24 15:02] kelvinparmar commented on #99
Anyone is working on this issue?

[2022-09-25 11:29] Pradumnasaraf commented on #117
Go ahead, thank you. Assigning top you

I will recommend opening PR after the 1st of October so that it can count towards your Hactoberfest contribution :smile:

[2022-09-25 11:50] #118 closed

[2022-09-25 11:50] #116 closed

[2022-09-25 12:30] Pradumnasaraf commented on #115
Hey @lazyturd, I will recommend opening PR after the 1st of October so that it can count towards your Hactoberfest contribution smile.

[2022-09-25 12:33] Pradumnasaraf commented on #97
Hey, @KlausMikhaelson hope you working on this issue.

If yes, I will recommend opening PR after the 1st of October so that it can count towards your Hactoberfest contribution smile

[2022-09-25 12:33] #110 closed

[2022-09-25 12:34] #107 closed

[2022-09-25 12:34] Pradumnasaraf commented on #101
Hey, @nitin-nagaraj-au26  hope you working on this issue.

If yes, I will recommend opening PR after the 1st of October so that it can count towards your Hactoberfest contribution smile

[2022-09-25 13:31] nitin-nagaraj-au26 commented on #101
Hi @Pradumnasaraf, yes I'm working on this and will open the PR accordingly. Thanks.

[2022-09-25 14:35] yung-coder commented on #117
Okay assign it i will open it after 1 oct . Thanks 🙏

[2022-09-25 15:25] yash251 commented on #65
Can you please reassign it? I will open PR after the 1st of October so that it can count towards your Hactoberfest contribution.

[2022-09-25 17:16] KlausMikhaelson commented on #97
Hey @Pradumnasaraf yeh I was just like attending hackcon india because of which was busy in travelling but yeah this sounds great will make a pr after the 1st Oct ! Thank you !

[2022-09-26 04:51] prnvtripathi commented on #94
Hi @Pradumnasaraf, if the issue still persists can i work on this issue?

[2022-09-26 09:42] zabihhaqqani opened #122 "[DOCS] Add eddie jaoude github course in learning resources"
### Description

- The free course by eddie jaoude for improving a github profile can be added in the list of learning.
- [Eddie Jaoude Github Course](https://www.eddiejaoude.io/course-github-profile-landing?r_done=1)

[2022-09-26 18:46] lazyturd commented on #115
Noted sir. Thanks

[2022-09-27 03:37] Pradumnasaraf commented on #122
Hey, thank you for opening the PR. Yes it's a great addition we can add that to the [learning resources page](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/Resources.md)

[2022-09-27 03:38] Pradumnasaraf commented on #122
Do you want to work on this PR @zabihhaqqani ?

[2022-09-27 03:42] zabihhaqqani commented on #122
Yes but can we add Eddie's course in your learnings.

[2022-09-27 03:42] Pradumnasaraf commented on #99
Hey, @kelvinparmar no one is working on this. You have added steps to create a project board for a repo/project. Linke [this)(https://github.com/Pradumnasaraf/open-source-with-pradumna/projects/1)

[2022-09-27 03:45] Pradumnasaraf commented on #122
Didn't get your points? As I mentioned above you can add that course to [Learning resources page](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/Resources.md)

[2022-09-27 03:47] zabihhaqqani commented on #122
Oh sorry my bad I am using the mobile version and it didn't show the above messages till I clicked on load more comments.

[2022-09-27 03:47] Pradumnasaraf commented on #122
Awesome, I will recommend opening PR after the 1st of October so that it can count towards your Hactoberfest contribution

[2022-09-27 03:48] #98 closed

[2022-09-27 03:49] zabihhaqqani commented on #122
Sure you can assign it to me

I will open the PR after 1st Oct.

[2022-09-27 03:51] Pradumnasaraf commented on #96
Hey, @Indira-kumar are you still working on this issue?

[2022-09-27 03:52] Pradumnasaraf commented on #65
No worries, I have reassign it to you, Open PR after 1st

[2022-09-27 03:53] #49 closed

[2022-09-27 03:54] Pradumnasaraf commented on #94
Hey, @prnvtripathi yes go ahead,

But, I will recommend opening PR after the 1st of October so that it can count towards your Hactoberfest contribution smile

[2022-09-27 04:06] prnvtripathi commented on #94
will do the same :)

[2022-09-27 11:06] Indira-kumar commented on #96
Yes Sir, I am working on it, In sometime I will be done
Sorry for the delay

[2022-09-27 11:07] Pradumnasaraf commented on #96
Awesome, I will recommend opening PR after the 1st of October so that it can count towards your Hactoberfest contribution

[2022-09-27 11:11] Indira-kumar commented on #96
Yes sir will do that. Thank you💛

[2022-09-27 13:19] hasnainmakada-99 commented on #95
Hey @Pradumnasaraf  I would like to work on this issue

[2022-09-27 17:34] ShubhamJagtap2000 opened #123 "[DOCS] A little typo in pages/Regular.md"
### Description

Found 2 typo mistakes in the table column name. The screenshot is attached below. It should be "Content" but there is "Conetnt".

### Screenshots

![image](https://user-images.githubusercontent.com/63872951/192596283-aa665880-78b8-41f8-b80c-fa6980b6e517.png)

[2022-09-30 06:18] ampsteric commented on #99
hey! , I would be happy to help.
Please assign me this issue under hacktoberfest.

[2022-09-30 07:47] Pradumnasaraf opened #129 "[DOCS] Center the images in the document"
### Description

Link to the docs - https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide/rasing-issue.md

### Screenshots

_No response_

[2022-09-30 07:54] Pradumnasaraf opened #130 "[BUG] Add ALT attribute to doc"
### Description

Add proper ALT to the docs - https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide/creating-pr.md

### Screenshots

N/A

[2022-09-30 07:55] muditchoudhary commented on #129
Hey, @Pradumnasaraf I would like to work on this.

[2022-09-30 07:57] Pradumnasaraf opened #131 "[DOCS] Center the images in doc"
### Description

Link to the doc - https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide/creating-pr.md

### Screenshots

N/A

[2022-09-30 07:59] Pradumnasaraf opened #132 "[DOCS] Improve the ALT text in docs"
### Description

Link to docs - https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide/adding-sponsor.md

### Screenshots

![Screenshot 2022-09-30 at 1 28 43 PM](https://user-images.githubusercontent.com/51878265/193221459-4b18a230-9abf-4399-9c60-293f7e9ba72e.png)

[2022-09-30 08:05] Pradumnasaraf opened #133 "[DOCS] Add some spacing between the points and center the images"
### Description

Link to the doc -  https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide/starting-discussion.md

### Screenshots

N/A

[2022-09-30 08:05] kakkarot0 commented on #131
hey Pradumnasaraf i would like to work on this!

[2022-09-30 08:27] Pradumnasaraf opened #134 "[DOCS] Improve the ALT text in the docs"
### Description

Link to the docs - https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide/linking-issue-with-pr.md

### Screenshots

N/A

[2022-09-30 08:33] Pradumnasaraf opened #135 "[DOCS] Center the images in `linking-issue-with-pr.md`"
### Description

Link to the docs. - https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide/linking-issue-with-pr.md

### Screenshots

N/A

[2022-09-30 08:50] Pradumnasaraf opened #136 "[DOCS] Center the images in the `reviewing-pr.md` docs"
### Description

Link to docs - https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide/reviewing-pr.md

### Screenshots

N/A

[2022-09-30 08:54] Pradumnasaraf opened #137 "[DOCS] Add ALT attribute to the images in `adding-pr-template.md` docs"
### Description

Link to doc - https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide/adding-pr-template.md

### Screenshots

N/A

[2022-09-30 09:15] kakkarot0 commented on #136
hey can i work on this issue

[2022-09-30 09:38] Pradumnasaraf opened #138 "[DOCS] Improve ALT text in `assigning-issue.md`"
### Description

Link to docs - https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide/assigning-issue.md

### Screenshots

N/A

[2022-09-30 10:03] zabihhaqqani commented on #122
Okay, did the changes but I have just copied the image URL from Eddie so will there be any copyright issues?

And the image is a bit large compared to others.

![4](https://user-images.githubusercontent.com/53895282/193246586-cfa32eff-fa26-4189-a22d-9f709eae62ac.PNG)

[2022-09-30 10:48] anujchourasia15 commented on #137
Hey, I would love to work on this.

[2022-09-30 11:02] anujchourasia15 commented on #137
Hey, I would love to work on this.

[2022-09-30 13:16] yung-coder commented on #135
Hey i would like to work on this @Pradumnasaraf

[2022-09-30 13:48] yung-coder commented on #117
hey @Pradumnasaraf  i looked at it and the alt tags are already their ...?

[2022-09-30 13:57] iks1 commented on #133
can you assign this to me ?

[2022-09-30 14:47] kakkarot0 commented on #138
hey can i work in this issue

[2022-09-30 14:48] kakkarot0 commented on #137
i would like to work on this issue

[2022-09-30 14:48] kakkarot0 commented on #134
can i work on this issue

[2022-09-30 17:47] YashPimple commented on #138
@Pradumnasaraf would like to work on this issue!

[2022-09-30 17:49] YashPimple commented on #130
@Pradumnasaraf would like to work on this issue!

[2022-09-30 18:07] tarund2302 commented on #138
Hi, I would like to work on this issue.

[2022-09-30 19:36] Vishrut19 commented on #138
Hey @Pradumnasaraf Can I work on this issue ?

[2022-09-30 19:38] Vishrut19 commented on #136
Hey can I work or help in this issue ?

[2022-09-30 19:38] Vishrut19 commented on #133
Hey @Pradumnasaraf can I work on this issue ?

[2022-09-30 19:39] Vishrut19 commented on #129
Hey @Pradumnasaraf Can i work on this issue ?

[2022-09-30 19:39] Vishrut19 commented on #130
Hey @Pradumnasaraf can I work on this issue ?

[2022-09-30 19:40] Vishrut19 commented on #97
Hey @Pradumnasaraf  and @KlausMikhaelson can I work/help on this issue ?

[2022-09-30 20:05] Vishrut19 commented on #99
Hey @Pradumnasaraf Can I work on this issue for Hacktoberfest ?

[2022-09-30 20:05] Vishrut19 commented on #95
Hey @Pradumnasaraf Can I work on this issue for Hacktoberfest ?

[2022-09-30 22:49] PriyanshuAhlawat commented on #135
@Pradumnasaraf created the pr🙂

[2022-09-30 22:49] PriyanshuAhlawat commented on #133
@Pradumnasaraf  created the pr

[2022-09-30 23:17] PriyanshuAhlawat commented on #136
@Pradumnasaraf  created pr

[2022-09-30 23:32] PriyanshuAhlawat commented on #132
@Pradumnasaraf  pr created

[2022-09-30 23:55] KlausMikhaelson commented on #97
Hey @Vishrut19 I already have taken this issue and currently in some offline trch events so will create a pr in 2-3 days

[2022-10-01 03:23] hemantwasthere commented on #138
Hey @Pradumnasaraf , I would like to work on this issue. Please assign it to me

[2022-10-01 03:24] hemantwasthere commented on #136
Hey @Pradumnasaraf, I would like to work on this issue. Please assign it to me

[2022-10-01 03:24] hemantwasthere commented on #135
Hey @Pradumnasaraf, I would like to work on this issue. Please assign it to me

[2022-10-01 03:25] hemantwasthere commented on #133
Hey @Pradumnasaraf, I would like to work on this issue. Please assign it to me

[2022-10-01 03:26] hemantwasthere commented on #132
Hey @Pradumnasaraf, I would like to work on this issue. Please assign it to me

[2022-10-01 03:26] hemantwasthere commented on #131
Hey @Pradumnasaraf, I would like to work on this issue. Please assign it to me

[2022-10-01 03:27] hemantwasthere commented on #130
Hey @Pradumnasaraf, I would like to work on this issue. Please assign it to me

[2022-10-01 03:46] Pradumnasaraf commented on #122
It's good no worries.

[2022-10-01 03:57] Vishrut19 commented on #65
Hey Can i also work on this ?

[2022-10-01 04:12] #138 closed

[2022-10-01 04:14] Pradumnasaraf commented on #137
Go ahead you can work on it @anujchourasia15

[2022-10-01 04:15] Pradumnasaraf commented on #136
Go ahead you can work on it @kakkarot0

[2022-10-01 04:15] Pradumnasaraf commented on #135
Go ahead you can work on it @yung-coder

[2022-10-01 04:16] Vishrut19 commented on #136
Hey @Pradumnasaraf can i also help @kakkarot0 in this issue ?

[2022-10-01 04:17] Pradumnasaraf commented on #134
I have already assigned you an Issue. Let other people contribute and join in. Thank you for understanding

[2022-10-01 04:18] Pradumnasaraf commented on #133
Yes, go ahead @iks1

[2022-10-01 04:19] Pradumnasaraf commented on #136
You can work on other issues

[2022-10-01 04:19] yung-coder commented on #135
Thanks @Pradumnasaraf 🙏

[2022-10-01 04:19] Pradumnasaraf commented on #132
Yes go ahead @hemantwasthere

[2022-10-01 04:20] Pradumnasaraf commented on #131
I have already assigned you an Issue. Let other people contribute and join in. Thank you for understanding

[2022-10-01 04:20] Vishrut19 commented on #136
okay I have asked you on other issues too but I didn't get any response

[2022-10-01 04:21] Pradumnasaraf commented on #129
Yes, go ahead @muditchoudhary

[2022-10-01 04:21] #123 closed

[2022-10-01 04:22] Vishrut19 commented on #122
I would like to work on this issue @Pradumnasaraf

[2022-10-01 04:22] Pradumnasaraf commented on #136
Looks at the issues which are not assigned and drop a comment I will assign it to you, do fast :)

[2022-10-01 04:23] Vishrut19 commented on #136
okay

[2022-10-01 04:23] Vishrut19 commented on #117
Hey @Pradumnasaraf I can work on this issue

[2022-10-01 04:23] Pradumnasaraf commented on #130
Yes, go ahead @YashPimple . Okay, no worries I will open that closed PR.

[2022-10-01 04:24] Pradumnasaraf commented on #130
Oops looks like you deleted the brach @YashPimple

[2022-10-01 04:25] Vishrut19 commented on #97
I will do it today only if you assign me @Pradumnasaraf

[2022-10-01 04:25] Pradumnasaraf commented on #99
yes go ahead @Vishrut19

[2022-10-01 04:26] Pradumnasaraf commented on #95
Yes go ahead

[2022-10-01 04:27] Pradumnasaraf commented on #65
Go ahead I have assigned two issues to you :)

[2022-10-01 04:28] Pradumnasaraf commented on #65
This issue is already assigned to @yash251

[2022-10-01 04:28] Pradumnasaraf commented on #122
The issue is already assigned, look for other issues

[2022-10-01 04:30] Pradumnasaraf commented on #117
Sounds cool, then let's close this

[2022-10-01 04:30] #117 closed

[2022-10-01 04:31] Pradumnasaraf commented on #97
Hey, @Vishrut19 look for other issues it's already assigned

[2022-10-01 04:45] anuragh2002 commented on #131
Hey @Pradumnasaraf I would like to work on this issue. Can you please assign it to me?

[2022-10-01 04:51] Pradumnasaraf commented on #131
Yes go ahead @anuragh2002

[2022-10-01 05:40] anujchourasia15 opened #150 "[DOCS] Correct punctuation in Faq.md docs"
### Description

Link to doc - https://github.com/anujchourasia15/open-source-with-pradumna/blob/main/pages/Faq.md

### Screenshots

![issue](https://user-images.githubusercontent.com/75257120/193394162-2d445c32-5419-482a-944f-5764e9ce5e14.jpg)

[2022-10-01 05:42] ampsteric commented on #99
@Pradumnasaraf I asked to work on this issue before

[2022-10-01 05:53] Pradumnasaraf commented on #99
Hey, @Vishrut19, by mistake I assigned the issue to you, sorry for the inconvenience. You can look for other issues.

@ampsteric assigning it to you.

[2022-10-01 05:55] Pradumnasaraf commented on #150
Thank you for opening the issue

[2022-10-01 05:57] #137 closed

[2022-10-01 06:09] hemantwasthere commented on #132
Hey @Pradumnasaraf , I have opened a PR, please check it out

PR: #151

[2022-10-01 06:18] hemantwasthere commented on #150
Hello @Pradumnasaraf, May I work on this issue

[2022-10-01 06:26] VamshiReddy02 commented on #150
Hey @Pradumnasaraf, I made a pull request on this issue. Please do check out.

[2022-10-01 06:38] VamshiReddy02 commented on #150
Hey @Pradumnasaraf, may I work on this issue? Sorry I made a PR without, you assigning me. because I'm new to open source contribution, now I read the contributing guideline and code of conduct. can you assign me this issue

[2022-10-01 06:43] Pradumnasaraf commented on #150
Hey, @anujchourasia15 just for confirmation are you working on this issue? If not @VamshiReddy02 has already worked and they just re-open the closed PR.

[2022-10-01 07:08] anujchourasia15 commented on #150
No, I'm not working on this issue. @VamshiReddy02 can go ahead.

[2022-10-01 07:26] KlausMikhaelson commented on #97
don't be like this

[2022-10-01 08:02] kelvinparmar commented on #99
Hi @Pradumnasaraf  sorry I am busy with my college life . you have assigned this issue to anyone?

[2022-10-01 08:08] PriyanshuAhlawat commented on #134
hey @Pradumnasaraf  I will like to work on this, can you assign this to me

[2022-10-01 08:18] zabihhaqqani commented on #122
I have sent the pull request for the above changes!

[2022-10-01 08:48] bloodmonk7 opened #157 "[BUG] Table Image margins not even"
### Description

Hey @Pradumnasaraf , The table does not contain image properly, there is margin difference on top as compared to bottom of it.
Can I work on it?

### Screenshots

![Screenshot 2022-10-01 141553](https://user-images.githubusercontent.com/48784848/193401325-763a79f5-b9e4-4430-98a2-5f5b2d8dfa82.png)

[2022-10-01 08:51] yashdev9274 commented on #150
is this issue already assigned?

[2022-10-01 08:57] yashdev9274 commented on #134
Hey @Pradumnasaraf if you don't mind, may I know what is this issue about ?

[2022-10-01 09:46] Rinshin-Jalal commented on #157
I like to do this!

[2022-10-01 10:18] thisisharsh7 commented on #134
I would like to work on this issue. could you **please** assign it to me?

[2022-10-01 11:32] VamshiReddy02 commented on #150
Hey @Pradumnasaraf, Can I go ahead with this issue?

[2022-10-01 13:52] hemantwasthere commented on #132
Hello @Pradumnasaraf, can you please check the PR and let me know if there is any vulnerability

[2022-10-01 17:49] akebu6 commented on #150
does this issue have anyone assigned to it yet?

[2022-10-01 18:02] Pradumnasaraf commented on #150
Hey, yes. You can re-open the Close PR.

[2022-10-01 18:03] Pradumnasaraf commented on #150
Hey, @anshrusia200 @akebu6 this issue is already assigned please look for some other issues.

[2022-10-01 18:06] #122 closed

[2022-10-01 18:08] #132 closed

[2022-10-01 18:13] #130 closed

[2022-10-01 18:15] #94 closed

[2022-10-01 18:16] hemantwasthere commented on #130
@Pradumnasaraf, Can I do this if @YashPimple haven't done it

[2022-10-01 19:02] ShubhamJagtap2000 opened #158 "[DOCS] Add why create releases?"
### Description

Just encountered that introducing with why create releases would make [this documentation](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide/create-releases.md) better.

### Screenshots

_No response_

[2022-10-01 23:44] VamshiReddy02 commented on #150
hey @Pradumnasaraf, I created a new PR for this issue. please do check out.

[2022-10-02 03:43] Pradumnasaraf opened #161 "[BUG] Remove the paypal option from Funding.yaml"
### Description

#### Remove the PayPal option from FUNDING.yml

Link to the file - https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/.github/FUNDING.yml

### Screenshots

![Screenshot from 2022-10-02 09-10-28](https://user-images.githubusercontent.com/51878265/193436901-9d461ad8-3b60-4d46-97aa-f4094b99ae6e.png)

[2022-10-02 03:58] yung-coder commented on #161
Hey @Pradumnasaraf i would like to work on this...

[2022-10-02 04:02] bloodmonk7 commented on #157
I will go to stylling part and look for padding given and will make the top and bottom padding of the picture equal so that the table border is perfectly even like left and right padding of picture
![Screenshot 2022-10-01 141553](https://user-images.githubusercontent.com/48784848/193437266-661079ea-ad3b-4fb5-acaa-4b0249158c67.png)

[2022-10-02 04:09] prnvtripathi opened #163 "[DOCS] Add process/guide - "How to delete a repo""
### Description

### Hey @Pradumnasaraf
I was looking through the OSWP website and I found that the <a href="https://oswp.study/#/pages/How-to/guide/delete-repo"> this</a> page shows work in progress.

### Screenshots

![image](https://user-images.githubusercontent.com/111558974/193437415-eb9b74e7-89a0-4cdd-a1ed-581ea89bc268.png)

[2022-10-02 04:10] prnvtripathi commented on #163
I would like to work on this issue.

[2022-10-02 09:40] Tamanna-S commented on #134
hello may i try @Pradumnasaraf

[2022-10-02 11:16] shivamnarkar47 commented on #131
Hey @Pradumnasaraf , I have sent you the pull request for it :+1:

[2022-10-02 11:36] #158 closed

[2022-10-02 11:42] #135 closed

[2022-10-02 11:45] #150 closed

[2022-10-02 11:51] Pradumnasaraf commented on #161
Hey, it's an begginer friendly issue, leave it for some other new contributors.

[2022-10-02 11:52] yung-coder commented on #161
Okay np @Pradumnasaraf 👍

[2022-10-02 11:52] Pradumnasaraf commented on #157
It's a markdown table we can't add padding, I guess. That's why I asked what approach you will follow.

[2022-10-02 11:54] Pradumnasaraf commented on #163
Hey, thank you for reporting. The file is there, but the naming is wrong. Here is the [file](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide/delete-the-repo.md)

A patch will release soon. It will fix that name. Thank you

[2022-10-02 12:03] Pradumnasaraf commented on #134
Yes, you can work on it.

[2022-10-02 12:04] Pradumnasaraf commented on #134
Hey, @thisisharsh7 @Tamanna-S , as the Priyanshu asked for it 1st so assigned it to them. Looks for other issue and soon I will open more.

[2022-10-02 12:04] Pradumnasaraf commented on #134
For adding ALT text to images

[2022-10-02 12:05] #157 closed

[2022-10-02 12:48] grraghav120 commented on #161
I would like to work on this...

[2022-10-02 13:06] prnvtripathi commented on #163
That's fine sir 💯

[2022-10-02 13:06] #163 closed

[2022-10-02 13:10] prnvtripathi commented on #95
Hey, @hasnainmakada-99 , i wanted to know if you're still working on the issue, if not I would like to work on it.

[2022-10-02 13:12] hasnainmakada-99 commented on #95
Yes @prnvtripathi I'm still working on it and will raise the pr by tomorrow

[2022-10-02 13:18] prnvtripathi commented on #95
Ok sir :)

[2022-10-02 13:18] prnvtripathi commented on #95
Ok sir :)

[2022-10-02 13:18] Tamanna-S commented on #134
alright thank you!

[2022-10-02 13:42] Pradumnasaraf commented on #161
Go ahaed

[2022-10-02 13:44] grraghav120 commented on #161
okay working!! @Pradumnasaraf

[2022-10-02 13:57] Pradumnasaraf commented on #99
You already made the PR, there we no response from your side. Okay, we will accept that. Hey @ampsteric sorry for inconvenience, please looks for some other issues

[2022-10-02 14:11] #161 closed

[2022-10-02 18:33] MuhammadNoorani commented on #131
Hey @Pradumnasaraf can I work on this issue, if this is yet pending ?

[2022-10-03 02:55] Harish2930 commented on #96
Hey @Pradumnasaraf , is the issue still open? Can I contribute to the issue?

[2022-10-03 03:30] lingeshwaran05 opened #174 "[DOCS] updating Regular content"
### Description

updating your github tip from twitter and convert it into images with poet.so and attach it into regular updates page

### Screenshots

![image](https://user-images.githubusercontent.com/76167753/193496653-4926318d-6642-4695-8799-bf7ff93a29a8.png)

[2022-10-03 03:30] lingeshwaran05 commented on #174
can you please assign it to me

[2022-10-03 04:41] krupalitrivedi opened #175 "[DOCS] Link the License and Contributing.md to ReadMe"
### Description

Hello!

I believe it is a healthy choice to link the contribution guidelines and License to the end of the ReadMe files which can help people who are browsing through the repo navigate easily between files.

If this issue sounds genuine, it can be a good first issue and be solved in following way.

Steps:
- `Fork` the repo
- Either clone the repo or go to the fork on GitHub
- Clic

[2022-10-03 05:38] shashankbhatgs commented on #175
@krupalitrivedi I would like to work on this issue. Can I?

[2022-10-03 06:20] shashankbhatgs commented on #175
@saloni137 I thought of working on this issue since nobody was assigned :(

[2022-10-03 06:31] saloni137 commented on #175
@shashankbhatgs But I already did :)

[2022-10-03 06:37] shashankbhatgs commented on #175
@saloni137 you should ask the maintainers to assign it first and then work on it

[2022-10-03 06:37] saloni137 commented on #175
I don't think so that's how open source work @shashankbhatgs

[2022-10-03 06:53] Pradumnasaraf commented on #175
Hey @krupalitrivedi, thank you for opening the issue.

We discussed this previously to add them. The reason why we are not adding this to the README is that we use root README for hosting. Also, in the hosted webpage we don't need that and to keep the webpage short.

Would love to hear your thoughts on this, TY again :)

[2022-10-03 06:55] Pradumnasaraf commented on #175
Hey @saloni137, @shashankbhatgs is 100% correct. There are some guidelines, and that's how most of the repo functions. You can also check the [**contributing guidelines**](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/CONTRIBUTING.md) for that.

[2022-10-03 10:01] imran1509 commented on #133
hey, Can i work on this?

[2022-10-03 13:25] ianujvarshney commented on #134
Could you assisgn me please i can fix this issue easily ?

[2022-10-03 13:26] ianujvarshney commented on #131
Hey @Pradumnasaraf  could you assisgn me please?

[2022-10-03 17:45] #99 closed

[2022-10-03 17:58] #131 closed

[2022-10-03 18:01] #134 closed

[2022-10-03 18:05] #96 closed

[2022-10-03 18:05] Pradumnasaraf commented on #174
Yes go ahead make sure it is date wise :)

[2022-10-03 18:19] #129 closed

[2022-10-03 18:32] Pradumnasaraf commented on #133
Hey, thank you for your interest, but the issue is already assigned to the other contributor, try finding some other issue.

Thank you!

[2022-10-04 04:06] lingeshwaran05 commented on #174
Hey , I have finished this task yesterday itself , please checkout #176 pr and please include hacktoberfestaccepted label ,
Thanks,

If you want to make new page with docker tips and open source tips let me know

[2022-10-04 04:31] lingeshwaran05 commented on #174
Hey , now the page is successfully updated upto oct 4 , Thankyou

[2022-10-04 14:32] prnvtripathi opened #181 "docs: Add process for "how to create a repository""
### Description

Hi @Pradumnasaraf, in the [how-to](https://oswp.study/#/pages/How-to/README) section of the website, if we can add how to create a repo, then it'll be easy to just refer to this page in future guides or processes which include creating a repository.

### Screenshots

_No response_

[2022-10-04 16:37] ShubhamJagtap2000 opened #182 "[DOCS] Update create-license.md"
### Description

I regularly follow your repo updates and look over whatever info is added. I can see an irregular structure of numbers in create-license.md for points no. 5, 6, and 7. Every point should start in a new line. (shown in the screenshot below)

I would also like to make a `table of licenses and a short description of it` that is included in the YouTube video link mentioned in the file

[2022-10-04 18:05] KlausMikhaelson commented on #97
Hey @Pradumnasaraf sorry for being late, I have created the pr !

[2022-10-04 19:04] Maaz-Code opened #183 "[FEATURE] UI improvement in Sidebar"
### Description

I would like to add a UI change to the Sidebar where when we are on a page then the corresponding text on Sidebar gets bold. This will give a better look to the Sidebar and help depict the highlighted page. I am also thinking of a way to give the Pages text a new look so that it becomes less confusing.

### Screenshots

![image](https://user-images.githubusercontent.com/65590762/1

[2022-10-05 14:05] Notchoaveragejoe commented on #183
Can I help with this issue?

[2022-10-05 15:44] #174 closed

[2022-10-05 16:37] Maaz-Code commented on #183
I am working on this already!

[2022-10-05 16:49] Pradumnasaraf commented on #181
You just stole my mind and idea, haha. Yes, we need it. Do you want to contribute to that?

[2022-10-05 16:53] Pradumnasaraf commented on #182
Thank you so much for following up on the update. I am just merging PR with RAW content and improving it over time with the contributions, that's my plan. In this way, more people can contribute.

Go ahead you can do the changes, thank you!

[2022-10-05 16:57] Pradumnasaraf commented on #97
Hey, you didn't make the PR to this repo, instead, you made PR on your repo and merged yourself.

[2022-10-05 17:12] #65 closed

[2022-10-05 17:16] #45 closed

[2022-10-05 17:37] KlausMikhaelson commented on #97
wt just noticed that lol

just noticed that lol copy pasting that right away !

[2022-10-05 17:41] Ski1ledHawkeye commented on #118
Hey i'm interested in this issue. Can you assign me this one ?

[2022-10-05 17:44] yash251 commented on #101
Are you still working on it ?
If not, I'd like to take up on this issue.

[2022-10-05 18:11] prnvtripathi commented on #181
Ofcourse, i would love to :)

[2022-10-05 18:28] Nymphalys commented on #181
I would like to work on this issue ,Can you assign me this issue?

[2022-10-05 20:42] shubham21155102 opened #188 "[OTHER] <description> I just wanna suggest you there is same opening of website after clicking on Github and Stars."
### What would you like to share?

 I just wanna suggest you there is same opening of website after clicking on Github and Stars.
and i just want to write that in a better way.

[2022-10-06 09:48] johnwinifred commented on #181
I would love to work on this issue

[2022-10-06 14:54] Atharv-777 commented on #181
hey @prnvtripathi are you still working on it?

[2022-10-06 14:58] prnvtripathi commented on #181
Yeah, I've been working on it, just waiting for @Pradumnasaraf to assign the issue to me. So I can raise a PR

[2022-10-06 17:00] getRicha opened #190 "[DOCS] Typo and grammatical errors in README.md of How-to"
### Description

There are some notable grammatical errors present in the README.md file of pages/How-to.

### Screenshots

<img width="562" alt="image" src="https://user-images.githubusercontent.com/74401402/194374256-bc448064-6d37-4832-a944-ff28905f4153.png">

[2022-10-06 18:24] Maaz-Code commented on #183
Ohh okay, then thanks for letting me know!

[2022-10-06 18:24] #183 closed

[2022-10-07 07:31] ardasevinc commented on #115
@lazyturd Hello, are you still working on this?

[2022-10-07 10:23] lazyturd commented on #115
Yes I am. Sending a pull request today

[2022-10-07 12:16] nitin-nagaraj-au26 commented on #101
@Pradumnasaraf I have raised a PR for this, kindly look into it and let me know if any changes need to be added.

[2022-10-07 15:29] jainpatel25 commented on #190
can I resolve grammatical error

[2022-10-07 16:29] #101 closed

[2022-10-07 16:39] #182 closed

[2022-10-07 16:40] Pradumnasaraf commented on #188
Sorry didn't get you. Can you explain a little more clearly with screenshots?

[2022-10-07 16:43] Pradumnasaraf commented on #181
And to other commenters, try finding some other issue. Thank you

[2022-10-07 16:44] #190 closed

[2022-10-07 17:50] priyanshu68 opened #193 "[DOCS] Adding "How to sign commits" in How To section"
### Description

Hey @Pradumnasaraf ,in the [how-to](https://oswp.study/#/pages/How-to/README) section of the website, I would like to add how to sign commits, as it is a lesser known piece of information that gets necessary in open source.

### Screenshots

_No response_

[2022-10-07 18:06] nexi9 opened #194 "[DOCS] Adding 'Renaming a Repository' in the How To section"
### Description

Hi! @Pradumnasaraf, I wanted to add a piece of useful info on how to rename a repository in the how-to section of your website, as it can be a life-saver for a lot of beginners.

Kindly assign me this issue if you feel like this will work. Thanks in advance!

[2022-10-08 05:24] vikasganiga05 opened #197 "[FEATURE] Add dark/light theme toggler"
### Description

This is for adding a toggle button to switch between light and dark themes. There is a simple docsify plugin to do that :point_down:

[:first_quarter_moon:docsify-darklight-theme](https://github.com/boopathikumar018/docsify-darklight-theme) - It is a simple and highly customizable theme for docsify.js. Using this theme, documents will have a theme switcher to switch between `dark-

[2022-10-08 16:25] Atharv181 opened #199 "Add hover over open buttons."
### Description

We can add hover effects on open button.

### Screenshots

![image](https://user-images.githubusercontent.com/73999654/194717515-eb7a3d97-cf89-49c7-b009-2a7209bbe544.png)

[2022-10-08 18:24] Pradumnasaraf commented on #194
Hey, thanks for opening the issue. This is a great topic to be added.

Some instructions:

- Here is the image link which you can add to the How to section table.
`https://user-images.githubusercontent.com/51878265/194721906-86e2acba-194e-4dcc-8886-17f6b729a4c6.png`

![How to process img](https://user-images.githubusercontent.com/51878265/194721906-86e2acba-194e-4dcc-8886-17f6b729a4c6.png)

- When

[2022-10-08 18:33] Pradumnasaraf commented on #193
Hey, thanks for opening the issue. This is a great topic to be added.

Some instructions:

- Here is the image link which you can add to the How to section table.
`https://user-images.githubusercontent.com/51878265/194722406-73e2a603-c360-48dd-88bb-232abc170e81.png`

![How to process img (1)](https://user-images.githubusercontent.com/51878265/194722406-73e2a603-c360-48dd-88bb-232abc170e81.png)

-

[2022-10-08 18:35] Pradumnasaraf commented on #199
This is markdown and we use templates to host them, so hover can't be added. Thank you

[2022-10-08 18:35] #199 closed

[2022-10-08 18:45] Pradumnasaraf commented on #197
For months I was planning to do that. Thank you so much for the issue.

[2022-10-08 18:54] vikasganiga05 commented on #197
Thanks! for assigning this issue to me. I will start working on it as soon as possible.

[2022-10-08 21:46] Hyperbolic007 commented on #193
@Pradumnasaraf do we want this in website or in repo??

[2022-10-09 06:25] Atharv181 commented on #199
Ok Thank you.

[2022-10-09 06:53] ShubhamJagtap2000 opened #200 "[DOCS] Update social-preview.md"
### Description

As social preview only works for Public repositories, I wanted to add it in the "Tips" section of social-preview.md as a point. Should I raise a PR?

### Screenshots

_No response_

[2022-10-09 08:35] ShubhamJagtap2000 opened #201 "[DOCS] Align image to center in `starting-discussion.md`"
### Description

I can align the images in this [file](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide/starting-discussion.md) as well as make them more proper with tools to look better.

### Screenshots

_No response_

[2022-10-09 09:58] Ankurrawat-12 opened #202 "add contributers images in readme file"
### Description

the images of the contributors to this repo will be shown in readme file

### Screenshots

![image](https://user-images.githubusercontent.com/78417225/194750400-21d3766c-68f9-4464-bb20-b545c3ba3ce8.png)

[2022-10-09 09:59] Beast71421 commented on #202
can i have this issue.

[2022-10-09 10:06] Beast71421 commented on #202
and can you please add hacktoberfest , hacktoberfest-accepted label

[2022-10-09 10:12] Beast71421 commented on #202
Done

[2022-10-09 14:13] prakhartiwari0 opened #204 "[BUG] Images not showing up"
### Description

The images in [How to Create a PR](https://oswp.study/#/pages/How-to/guide/creating-pr) And [How to Raise an issue Basic](https://oswp.study/#/pages/How-to/guide/rasing-issue) are not showing up.

### Screenshots

## How to create a PR page screenshot
![image](https://user-images.githubusercontent.com/65062036/194761590-df2522c4-55e3-49ef-bd6d-353f4834938a.png)

## How to raise an

[2022-10-09 17:52] Pradumnasaraf commented on #204
Woooh, thank you so much for the issue. That was a huge bug, after the recent image syntax change to markdown some pages are working and some are not, that's weird.

I have fixed that issue on high priority - https://github.com/Pradumnasaraf/open-source-with-pradumna/commit/3427ddc600d1e1e8b11a223c46c788a49ad4d9bb

Thank you again. Have a look again, if you find something else let us know

[2022-10-09 17:52] #204 closed

[2022-10-09 18:17] prakhartiwari0 commented on #204
I am glad to help you @Pradumnasaraf
Looking forward to contributing more!

[2022-10-10 02:53] vikasganiga05 opened #206 "[BUG] There are two issues in `create-project-board.md`"
### Description

There are two issues in `pages/How-to/guide/create-project-board.md` file.
1. Typo in the subheading.
2. The contributor added a video that is not rendered. So, convert the video into a gif and then add it. Also, add a subheading `Complete demo (GIF)` above the gif.

![create-project-board](https://user-images.githubusercontent.com/74750414/194795088-4329f7e6-0a3c-4beb-b468-43f067

[2022-10-10 16:12] hariomchaudhary123 commented on #194
@Pradumnasaraf Can I contribute to this?

[2022-10-10 17:59] Pradumnasaraf commented on #200
Thank you for the Issue. I think that is understandable because the private repo is not shareable so having a social preview doesn't matter.

[2022-10-10 18:06] Pradumnasaraf commented on #206
Hey, When you asked for it, then you have to wait for it. Also, you shouldn't have raised the PR without confirmation, and that's the repo guidelines too.

Hey, @vikasganiga05 will you work on this?

[2022-10-10 18:08] Pradumnasaraf commented on #202
Thank you for raising the issue, but we don't need that as it hosted README.

Also, you shouldn't have raised the pr without confirmation.

[2022-10-10 18:08] #202 closed

[2022-10-10 18:15] #197 closed

[2022-10-10 18:46] nexi9 commented on #194
@hariomchaudhary123 hey, I'm already about to push my pr

[2022-10-10 19:04] saivardhankodimela commented on #206
@Pradumnasaraf  Sorry for the violation. This was my first contribution. I was curious and started working and figured the bug. so I was trying to explore github's feature, I accidentally raised the PR. I tried to undo it but coudn't. Hope you understand. :)

[2022-10-10 20:06] ShubhamJagtap2000 commented on #200
I am laughing to myself. PR obsession. Lol.

[2022-10-10 20:06] #200 closed

[2022-10-11 00:01] vikasganiga05 commented on #206
Hi Pradumna, @saivardhankodimela already made these changes and created a PR #207

[2022-10-11 02:15] prnvtripathi commented on #181
Hi @Pradumnasaraf, i made a pr referencing the issue then realised that it wasn't assigned to me. What should I do?

[2022-10-11 08:30] E-fais opened #208 "[FEATURE] responsive navbar"
### Description

Navbar is not looking good in small devices.
A hamburger menu will be much better.
Please assign me this issue, I would love to work on it.
![5897C71B-800A-4C30-993D-3FDF89F3618A](https://user-images.githubusercontent.com/102040088/195039562-821f9398-6e73-449c-9566-35ddc1855f54.png)

### Screenshots

_No response_

[2022-10-11 12:00] adityyaa-10 commented on #193
Hi, can I work on this issue?

[2022-10-11 12:42] tmsagarofficial commented on #133
@Pradumnasaraf Since i couldnt find any update regarding this issue can i give it a try? pls let me ASAP.

[2022-10-11 16:23] priyanshu68 commented on #193
@Pradumnasaraf you didn't assigned the issue , i just noticed it now, Can you please assign this to me?

[2022-10-11 16:29] Pradumnasaraf commented on #193
Done

[2022-10-11 16:38] Pradumnasaraf commented on #201
Hey, thank you for opening the issue. I request you let other contributors contribute toward this issue.

[2022-10-11 16:48] #206 closed

[2022-10-11 16:55] Pradumnasaraf commented on #208
Hey, we use a template for the website. That means we don't use the styling file.  I think we can't fix that

[2022-10-11 17:02] #95 closed

[2022-10-11 17:06] Pradumnasaraf commented on #175
Closing this issue, feel free open another one. Thank you for your suggestions.

[2022-10-11 17:06] #175 closed

[2022-10-11 17:07] Pradumnasaraf commented on #115
Hey, @lazyturd are still working on this PR?

[2022-10-11 17:08] Pradumnasaraf commented on #133
Hey, @iks1 are you still working on this Iusse? if no, I will assign it to someone else

[2022-10-11 17:09] #136 closed

[2022-10-11 17:10] Pradumnasaraf commented on #188
There is no response from your side, feel free to open with more details.

[2022-10-11 17:10] #188 closed

[2022-10-11 19:05] vikasganiga05 commented on #208
It can be fixed using the custom stylesheet.
- Create a stylesheet file `style.css` on the root of the project.
- Link the stylesheet in the `index.html` file.
[code]
- Add the styles to fix this issue to the `style.css` file.

Done :+1:

[2022-10-11 19:13] Vishrut19 commented on #201
I want to take this task @Pradumnasaraf

[2022-10-12 06:25] E-fais commented on #208
So let me close the issue ;)
Btw,  Can you please tell me about that template, so that i can use it for my next project.

[2022-10-12 06:26] E-fais commented on #208
I am not sure about that ;)

[2022-10-12 06:26] #208 closed

[2022-10-12 08:07] pritipsingh commented on #115
Hey I would like to work on it

[2022-10-12 08:15] pritipsingh opened #213 "[FEATURE] Make navbar sticky along with the name"
### Description

![image](https://user-images.githubusercontent.com/85965351/195288224-de4c4c13-f747-4c0f-a78d-daef0007c8e6.png)
Make this part sticky and also make the "Open Source with Pradumna" as part of the navBar.

Reference:
![image](https://user-images.githubusercontent.com/85965351/195288540-ad69b20f-5be6-4c68-8bf3-1db1127f0f1d.png)

### Screenshots

_No response_

[2022-10-12 13:20] hemant-sw opened #216 "[DOCS] Adding "How to create a new Branch""
### Description

Hi ! @Pradumnasaraf  in  [How to](https://oswp.study/#/pages/How-to/README) section of OSWP's site . It would be great if we add how  to checkout to new branch or Existing branch then it will be very helpful for beginners .

I can work on that issue if you think  this can be added. Thanks .

### Screenshots

_No response_

[2022-10-12 16:51] pritipsingh commented on #213
@Pradumnasaraf can you check this out and let me know if I can work on this

[2022-10-12 17:46] Pradumnasaraf commented on #208
Thank you, Vikash for the info. I need to look into that. But for now we are good with the template one.

[2022-10-12 17:51] Pradumnasaraf commented on #213
Hey, thanks for opening the issue.

we use a custom template (No style sheet), so I think we can't do that. Let me know your thoughts.

[2022-10-12 18:13] #181 closed

[2022-10-12 18:18] #194 closed

[2022-10-14 16:30] #193 closed

[2022-10-14 16:34] Pradumnasaraf commented on #216
Hey, thanks for opening the issue. This is a great topic to be added.

Some instructions:

- Here is the image link which you can add to the How to section table.
`https://user-images.githubusercontent.com/51878265/195896447-42001878-e09e-4ac2-a79e-203b5cbaeeb4.png`

![How to process img](https://user-images.githubusercontent.com/51878265/195896447-42001878-e09e-4ac2-a79e-203b5cbaeeb4.png)

- When

[2022-10-14 16:45] Pradumnasaraf commented on #133
I have unassigned the previous contributor, anyone would like to take up this issue?

[2022-10-14 16:45] #115 closed

[2022-10-14 16:46] Vishrut19 commented on #133
I would like to take the issue ! @Pradumnasaraf

[2022-10-14 16:47] tmsagarofficial commented on #133
Yeah pls let me give it a try @Pradumnasaraf

[2022-10-14 16:49] Pradumnasaraf commented on #133
Hey @Vishrut19, I just assigned you the Issue https://github.com/Pradumnasaraf/open-source-with-pradumna/issues/201

So, assigning this issue to @tmsagarofficial

[2022-10-14 20:01] beauty108 commented on #213
@Pradumnasaraf Inspite of being a custom template I still can fix it.

But for this I need you to add an extra CSS file in your repository.

Here is the result : )

![Screenshot 2022-10-15 012714](https://user-images.githubusercontent.com/111839696/195931556-5f3951c5-4f1e-4755-b437-322d7d8bbb88.png)

If you want this to be done then please assign this to me ASAP with a new CSS file.
Thankyou : )

[2022-10-14 20:32] beauty108 commented on #213
@Pradumnasaraf Above was in dark mode.

If you don't want to add a CSS file, still this can be done but the HTML file will be a little bit lengthy.

Below is in light mode : )

![Screenshot 2022-10-15 015840](https://user-images.githubusercontent.com/111839696/195938167-1a10b072-ac7b-4e22-821a-780cafcc3c89.png)

[2022-10-15 04:15] 12rashic opened #218 "Would be great if this repo has Documentation on Hacktoberfest too"
### Description

This repo has almost everything a begginer needs to get started on opensource journey , but it would be more perfect if it holds documentation on "Hacktoberfest" as its "hacktoberfest accepting  repo".
I would like to add this , Kindly assign it to me if this sounds good.
Thank you.

### Screenshots

_No response_

[2022-10-15 04:57] Radiosnack commented on #218
Hey ! I can add good documnetation on hacktoberfest .... you can assign this to me :)

[2022-10-15 06:23] ayushrtwt opened #219 "[DOCS] Typos and minor fixes"
### Description

There are some typos and minor fixes in the repo navigation section.

### Screenshots

![image](https://user-images.githubusercontent.com/102406757/195972187-57bdaa0a-52f5-486b-92cb-46753b7e3aa4.png)

[2022-10-15 06:24] ayushrtwt commented on #219
I want to work on this issue @Pradumnasaraf. Please assign this to me.

[2022-10-15 06:35] tmsagarofficial commented on #133
@Pradumnasaraf Hi again, Pls check and let me know if there should be any changes.
I have done the necessary changes to address this issue to the best of my understanding and knowledge here in this pr #217

[2022-10-15 08:22] unnikrishnan2002 opened #220 "[FEATURE] Include a back-to-top arrow button in all the pages."
### Description

In the website I saw that it is not very convenient to scroll all the way back to the top of the page in some sections. So I am proposing to create a back-to-top arrow button so that users can reach at the top of the page with just a click

### Screenshots

![image](https://user-images.githubusercontent.com/76985777/195976950-fb1e2bb4-9571-4b25-8f61-d89f3f93c664.png)

[2022-10-15 08:22] unnikrishnan2002 commented on #220
I would like to implement this feature

[2022-10-15 15:31] dilpreet-kaur11 opened #222 "[DOCS] <description>"
### Adding more learning resources.

### Screenshots

_No response_

[2022-10-15 15:33] dilpreet-kaur11 commented on #222
I want to add more learning resources for git and GitHub. Please assign this to me.

[2022-10-16 16:24] beauty108 commented on #213
@Pradumnasaraf Assign this issue to me ASAP so that I can create a pull request for the same. I have made all the required changes : )

[2022-10-16 16:42] Pradumnasaraf commented on #220
Hey, Uni. Thnaks for opening the issue, how you are planning to implement this feature (Approach)?

[2022-10-16 16:55] Pradumnasaraf commented on #219
Thank you for now it looks good.

[2022-10-16 16:55] #219 closed

[2022-10-16 16:57] Pradumnasaraf commented on #218
Hey, @12rashic, thank you for opening the Issue. Can you please clarify where you want to add those docs?

[2022-10-16 16:59] Pradumnasaraf commented on #213
Hey @beauty108, thank you for the interest, but for now we will keep at the stock template, due to less maintainability

[2022-10-16 16:59] Pradumnasaraf commented on #213
Hey @beauty108, thank you for the interest, but for now we will keep at the stock template, due to less maintainability

[2022-10-16 17:01] Pradumnasaraf commented on #222
Can you share what resources will you add?

[2022-10-16 17:01] #213 closed

[2022-10-16 17:47] 12rashic commented on #218
In the Github folder would like to add for a .MD file .Kindly let me know if it sounds good for contributing to repo.

[2022-10-17 06:32] dilpreet-kaur11 commented on #222
Geesforgeeks and freecodecamp tutorial  of git and GitHub

[2022-10-17 17:15] Pradumnasaraf commented on #222
Hey, the current ones are pretty good and more than enough. Adding too many can be confusing for beginners.

Thank you for opening the issue.

[2022-10-17 17:15] #222 closed

[2022-10-18 15:33] klaus0512 opened #223 "[DOCS] How to review the PR by running it on our local system"
### Description

Sometimes a maintainer needs to check the RP by running it on his local system. So we can add this new feature to demonstrate, how someone can review the PR by taking the code on his local system.

### Screenshots

_No response_

[2022-10-18 15:36] klaus0512 commented on #223
Hey @Pradumnasaraf, do look at this issue.
Also, I want to work on this issue, do assign me.

[2022-10-18 16:41] Pradumnasaraf commented on #223
Go ahead @klaus0512

[2022-10-18 16:45] #216 closed

[2022-10-18 16:49] Pradumnasaraf commented on #218
I think for now we don't need this. Thank you

[2022-10-18 16:49] #218 closed

[2022-10-19 03:22] tmsagarofficial commented on #133
@Pradumnasaraf pls check again.......sorry for the inconvenience

[2022-10-19 16:36] #133 closed

[2022-10-19 16:41] tmsagarofficial commented on #133
@Pradumnasaraf Pls add the labels and Thanks for letting me contribute 🤝

[2022-10-20 04:49] imran1509 commented on #201
Is it completed?
Hey Pradumna Can I work on this? can you assign this to me?

[2022-10-20 18:32] Pradumnasaraf commented on #201
Hey, @imran1509 sorry I forget to close this issue. It is already fixed. I will soon open some more issues

[2022-10-20 18:32] #201 closed

[2022-10-20 18:41] imran1509 commented on #201
Its okay.

[2022-10-22 11:12] Jasleen-001 commented on #220
Hey ,if no one is working on this issue then please assign it to me

[2022-10-23 11:35] Pradumnasaraf opened #225 "[DOCS] Add ALT text and remove extra lines in `star-repo.md`"
### Description

Add the `alt` attribute in the images the [docs](https://github.com/Pradumnasaraf/open-source-with-pradumna/blob/main/pages/How-to/guide/star-repo.md). Also remove the extra line spacing.

### Screenshots

_No response_

[2022-10-23 11:37] Atharv-777 commented on #225
Hey @Pradumnasaraf can you assign me this task?

[2022-10-23 11:38] Pradumnasaraf commented on #225
Yes, go head. Thank you for your interest.

[2022-10-23 11:55] guneet-01 commented on #225
Hey @Pradumnasaraf plz assign me this issue

[2022-10-23 13:33] #225 closed

[2022-10-24 18:28] tmsagarofficial commented on #220
@Pradumnasaraf HI again, Pls let me know if I can work on this. I'm asking this as I didn't see any update for a week.

[2022-10-28 08:08] ShubhamJagtap2000 opened #227 "[FEATURE] Adding new file about template repository"
### Description

Hello @Pradumnasaraf , I observed that the information about "making a template repository" can be an addition to the open-source project. Why repo templates are used, explaining how to do it (with screenshots), and how they can be used for other repositories can make a good file to add in to the "how to" directory.

Should I start making this file, please assign me the task?

###

[2022-10-30 12:30] KushalPareek opened #228 "[FEATURE] : Custom scrollbar with hover effect"
### Description

I want to add a custom scrollbar with hover effect.Please assign this to me.Thanks

### Screenshots

_No response_

[2022-10-31 06:17] Pradumnasaraf commented on #227
Hey, yes go ahead. Thank you

[2022-10-31 06:32] #223 closed

[2022-10-31 06:34] Pradumnasaraf commented on #228
No, thank you. We don't have current plans to modify the current templated theme

[2022-10-31 06:34] #228 closed

[2022-10-31 06:37] Pradumnasaraf commented on #220
Hey, how you ganna implement this? Can you share approach and samples

[2022-10-31 09:01] tmsagarofficial commented on #220
@Pradumnasaraf HI again, Pls let me know if I can work on this.

[2022-10-31 09:03] Pradumnasaraf commented on #220
Yes, that's why I asked for the sample and approach from you :). Then we can proceed further.

[2022-10-31 09:10] tmsagarofficial commented on #220
sorry, bro @Pradumnasaraf I didn't follow up. I will send u the necessary details by tonight

[2022-10-31 10:17] ShubhamJagtap2000 commented on #227
Thank you for assigning.

[2022-11-01 16:40] tmsagarofficial commented on #220
I'm very sorry...I'm a bit too busy rn due to college work....pls assign it to someone else....i will come back when I can spare some time

[2022-11-02 06:49] Pradumnasaraf commented on #220
Closing the issue, no response from the opener.

[2022-11-02 06:49] #220 closed

[2022-11-12 09:23] rajpatel17-bot opened #232 "[BUG] The navbar could be better."
### Description

# Navbar could be better.

Hey @Pradumnasaraf,
When we open the website on the mobile phone then the top of the navbar is not responsive. The text of the navbar is overlap with the image before `300px width` of the screen. And from screen `width 750px` the dark mode icon is not `align` with the navbar links. It should be align there for better user experience. And before `width 46

[2022-11-14 03:44] Pradumnasaraf commented on #232
Hey, thank you so much for the issue. You can go ahead with the issue

[2022-11-14 03:46] #227 closed

[2022-11-16 14:25] Pradumnasaraf commented on #232
Hey, we use the theme so we don't have the stylesheet. I think you need to add a style tag and override those properties. HEy, @vikasganiga05 can you help Raj with this, you have great insight about this.

[2022-11-19 17:03] Pradumnasaraf commented on #232
Fixed in #233

[2022-11-19 17:03] #232 closed